<!DOCTYPE html>
<html lang="jp">
<head>
	<meta charset="UTF-8">
	<title>開発の第一線で先端技術を追求したいWebエンジニア募集中！ | Fringe81株式会社</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="robots" content="all">
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<meta name="google-site-verification" content="n0ep9zeyioGG0rxVVAVXVcUN2x6rH6LiDvITFUzl9-E" />
	<meta name="keywords" content="第三者配信,タグマネジメント,アトリビューション,DSP運用,RSS広告,フィード広告,SBT,スマートバイイング,広告運用" />
	<meta name="description" content="今、Fringe81は爆発的なスピードで進化をし続けています。その中で自身の技術力を向上させながら、最新のテクノロジーに一緒に挑戦していく仲間を探しています。" />
	<meta property="og:title" content="開発の第一線で先端技術を追求したいWebエンジニア募集中！ | Fringe81株式会社" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="http://www.fringe81.com/recruit/L1111/" />
	<meta property="og:image" content="http://www.fringe81.com/recruit/L1111/img/lp_engineer/ogp.png" />
	<meta property="og:site_name" content="Fringe81" />
	<meta property="og:description" content="今、Fringe81は爆発的なスピードで進化をし続けています。その中で自身の技術力を向上させながら、最新のテクノロジーに一緒に挑戦していく仲間を探しています。" />
	<script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>
	<link rel="canonical" href="">
	<link rel="icon" href="/favicon.ico" />
	<link rel="stylesheet" href="/common/css/common.min.css">
	<link rel="stylesheet" href="/recruit/L1111/css/lp_engineer.min.css">
</head>
<body id="lp_engineer">

<div class="wrapper">

	<header class="header-site" role="banner">
		<div class="container-header-site">
			<div class="header-site-logo">
				<a href="//www.fringe81.com"><img src="/common/img/img_header_logo.png" alt="Fringe81"></a>
			</div>
			<ul class="block-page-link">
				<li class="btn-page-link01"><a href="#list-recruit">募集要項</a></li>
				<li class="btn-page-link02"><a href="#form-easy">話を聞きに行く</a></li>
				<li class="btn-facebook">
					<div class="fb-like" data-href="http://www.fringe81.com/recruit/L1111/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
				</li>
			</ul>
		</div>
	</header>

	<section class="main-visual">
		<img class="img-main-visual" src="/recruit/L1111/img/lp_engineer/main_visual.jpg" alt="" >
		<div class="block-title">
			<h1 class="title-lp">開発の第一線で先端技術を追求したい<br><span class="title-lp-bold">「Webエンジニア募集中」</span></h1>
			<h2 class="sub-title-lp">まずは一度、オフィスに遊びに来ませんか？</h2>
		</div>
	</section>

	<section class="block-btn-sns container-dark">
		<div class="fb-like" data-href="http://www.fringe81.com/recruit/L1111/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
	</section>

	<!-- ページリード文 -->
	<section class="lead-page container-dark">
		<div class="container-content">
			<p class="lead-paragraph">私たちは、「新しい発見をもとに、地球の未来を創る集団」というビジョンを掲げ、すべて自主企画・自社開発で革新的なプロダクトとサービスを提供し続けています。
			技術に対しての投資が企業の優位性そのものになり得る業界で、GoogleやFacebook等海外パートナーにも認められる技術力を有しています。</p>

			<p class="lead-paragraph">今、私たちはこれまでにないスピードで進化をし続けています。その中で自身の技術力を向上させながら、最新のテクノロジーに一緒に挑戦していく仲間を探しています。
			一緒に働くことになる仲間や、得られる技術力・キャリアなどをきっかけに、興味を持っていただけたら、ぜひオフィス見学へきてください。私たちはいつでもお待ちしています。</p>
		</div>
	</section>
	<!-- /ページリード文 -->

	<!-- 社員紹介 -->
	<section class="members container-pale">
		<!-- Natsui -->
		<div class="container-content">
			<h1 class="title-content"><span class="first-letter-title">社</span>員紹介</h1>
			<div class="block-members cf">
				<div class="box-photo box-left">
					<img src="/recruit/L1111/img/lp_engineer/pic_member_natsui.png" alt="">
				</div>
				<div class="box-text box-right">
					<p class="name-engineer">Keisuke (なっつ)<br>
						<span class="engineer-post-star">★</span>
						<span class="engineer-post">マネージャー</span>
					</p>
					<p class="profile-engineer">
						高専で情報技術を学んでいたが、社会人1年目はなんとルートセールスで実は営業出身。<br>
						社会人1年目に友人に誘われエンジニアの道へ。その後10年間SIerとして現場を渡り歩き業務システムを開発。
					</p>
					<p class="profile-engineer">
						しかし、自分が作ったモノを世に出し足跡を残したい、開発力以外に運用能力も付けたいと強く想いFringe81へ入社を決める。
					</p>
					<p class="profile-engineer">
						Fringe81入社後は主にdigitaliceのリーダー兼開発、Humptyのインフラ構築等、複数プロダクトに関わってきた。今は技術開発本部のマネージャーとして採用や育成等の組織づくりをする技術開発部の兄貴分。
					</p>
				</div>
			</div>
		</div>
		<!-- Natsui -->
		<!-- Komurasaki -->
		<div class="block-members cf">
			<div class="box-photo box-right">
				<img src="/recruit/L1111/img/lp_engineer/pic_member_komurasaki.png" alt="">
			</div>
			<div class="box-text box-left">
				<p class="name-engineer">Hiroki (こむ)<br>
					<span class="engineer-post-star">★</span>
					<span class="engineer-post">ソリューションデベロッパ</span>
				</p>
				<p class="profile-engineer">
					大学の研究室に配属され初めて触ったPythonでプログラミングの面白さに気付き、プログラミングの勉強を始める。その後、Androidエンジニアとして某ベンチャーで働きながら、スマホアプリ開発プロジェクトの企画・運営を行うなど活動の幅を広げる。
				</p>
				<p class="profile-engineer">
					京都大学 大学院 情報学研究科を卒業後、2015年度新卒としてFringe81にJoin。入社の決め手は、Fringe81の二枚看板（「ぶっとんだ社長」と「ベテランエンジニア」）だったと後に語る。
				</p>
				<p class="profile-engineer">
					Fringe81入社と同時にAndroidの広告SDK開発 リードプログラマに抜擢される。現在では、Scalaでの広告配信サーバーを開発。広告SDK、広告配信のどちらも絶対的な安定性と高いパフォーマンスが求められるため、最新技術の収集と習得に余念がない若きギーク。<br>
					<a href="http://qiita.com/petitviolet" target="_blank">Qiita：http://qiita.com/petitviolet</a><br><br>
					主催・運営している六本木界隈のAndroid勉強会コミュニティ<br>
					Roppongi.aar(<a href="http://roppongi-aar.connpass.com/" target="_blank">http://roppongi-aar.connpass.com/</a>)
				</p>
			</div>
		</div>
		<!-- Komurasaki -->
		<!-- Tomoaki -->
		<div class="block-members cf">
			<div class="box-photo box-left">
				<img src="/recruit/L1111/img/lp_engineer/pic_member_tomoaki.png" alt="">
			</div>
			<div class="box-text box-right">
				<p class="name-engineer">Tomoaki (トミー)<br>
					<span class="engineer-post-star">★</span>
					<span class="engineer-post">Consumer Service Developer</span>
				</p>
				<p class="profile-engineer">
					大学３年の時に、SymfonyでWebプロダクトを作り始めたのが原点。プログラミングを始めて1年も経たないうちに、iOSエンジニアとして初週で20万DLを達成した某アプリを制作。その後、自身の技術を追求する為、技術系のエキスパートが集うと噂のFringe81にJoin。
				</p>
				<p class="profile-engineer">
					Join後は、メディアアプリのシステムオーナーとなり、Android開発を行う。エンジニアにも関わらず、UI/UXデザインにも明るいグロースハッカー。好きな言語はSwift、Java、Python。
				</p>
				<p class="profile-engineer">
					暗算が異常に得意なせいで、時々電卓代わりにされている。気さくで人懐っこい東大ボーイ。<br>
					<a href="http://qiita.com/tomosooon" target="_blank">Qiita：http://qiita.com/tomosooon</a>
				</p>
			</div>
		</div>
		<!-- Tomoaki -->
		<!-- Seki -->
		<div class="block-members cf">
			<div class="box-photo box-right">
				<img src="/recruit/L1111/img/lp_engineer/pic_member_seki.png" alt="">
			</div>
			<div class="box-text box-left">
				<p class="name-engineer">Yosuke (せっつ)<br>
					<span class="engineer-post-star">★</span>
					<span class="engineer-post">JavaScriptスペシャリスト</span>
				</p>
				<p class="profile-engineer">
					33歳までバンドマンを本業としていた変わり種。バンドマンの傍ら28歳でプログラマを遅まきながら志し、フリーランスとして10現場くらい経験したあと、Fringe81にも当初はフリーランスの流れでJoin。
				</p>
				<p class="profile-engineer">
					それまで経験してきた開発現場と比べてFringe81の圧倒的スピード感に興奮し、一緒にやろうぜと誘われ即答で入社。入社後はフロントエンド・サーバサイド・インフラをフルスタックで経験し、プロジェクトマネージャを経験。
				</p>
				<p class="profile-engineer">
					現在はフロントエンド・JavaScriptスペシャリストとして、スマートフォンアプリ開発、WEBサイト開発を統括。ES6,React,immutable.js,lodash,Flux,Webpack,Gulp,karma,Jasmineなどのモダン技術を駆使したSPAサイトを構築している。
				</p>
				<p class="profile-engineer">
					対外的には30人ほどを招待してのオープンJavaScript勉強会開催、技術系イベントへの登壇、Qiitaで連載記事「JSおくのほそ道」を展開。 人柄は気合溢れる暑苦しいまったり紳士。<br>
					<a href="http://qiita.com/hosomichi" target="_blank">Qiita：http://qiita.com/hosomichi</a>
				</p>
			</div>
		</div>
		<!-- Seki -->
		<!-- Chida -->
		<div class="block-members cf">
			<div class="box-photo box-left">
				<img src="/recruit/L1111/img/lp_engineer/pic_member_chida.png" alt="">
			</div>
			<div class="box-text box-right">
				<p class="name-engineer">Kiyokatsu (チェダー)<br>
					<span class="engineer-post-star">★</span>
					<span class="engineer-post">システムアーキテクト</span>
				</p>
				<p class="profile-engineer">
					小さい頃からドライバーとはんだごてがおもちゃというほんの少しだけ変わった少年だったが、中学時代に父のパソコンでプログラミングを始め、プログラミングの楽しさに引き込まれる。大学時代は電気電子工学を専攻し、Windows95フィーバーの波に乗り、第二次コンピュータブームを迎える。新卒では東北の山奥で印刷会社のデータ処理部門(印刷物デザイン)に在籍していたが、どうしてもインターネットに関わる仕事をしたいっ！という若さと勢いで上京。
				</p>
				<p class="profile-engineer">
					その後、ISPやSIerへと転職し、TCP/IPだけではなく、BGPなどのネットワークや、Linuxサーバ、Java, JavaScript, PHP, Perl, Scala,などを節操無く学ぶ。おカタイ案件が多かったためエキサイティングな環境を求めFringe81へ。
				</p>
				<p class="profile-engineer">
					入社後は新規プロジェクトに携わり、その後、R&D業務へ。三度の飯よりガジェットや、新しモノ好きという特性を活かし、日々精進中。<br>
					<a href="http://qiita.com/chidakiyo" target="_blank">Qiita：http://qiita.com/chidakiyo</a>
				</p>
			</div>
		</div>
		<!-- Chida -->
		<!-- Toyoshima -->
		<div class="block-members cf">
			<div class="box-photo box-right">
				<img src="/recruit/L1111/img/lp_engineer/pic_member_toyoshima.png" alt="">
			</div>
			<div class="box-text box-left">
				<p class="name-engineer">Masaki (トーマス)<br>
					<span class="engineer-post-star">★</span>
					<span class="engineer-post">システムアーキテクト</span>
				</p>
				<p class="profile-engineer">
					高専・大学で情報工学を学ぶ。前職では業務系パッケージ製品開発の後、アドテク分野の事業に携わりのめり込む。アドテクを極めたいという思いと爆速成長を目指しFringe81へ入社。
				</p>
				<p class="profile-engineer">
					『アドテクにはITのすべてが詰まっている』という名言はあまりにも有名。得意技はScala。オブジェクト指向と関数型のいいとこ取り出来る点がとても気に入っている。
				</p>
				<p class="profile-engineer">
					2013年、Fringe81が日本で唯一招待されたシンガポールで開催されたFacebook主催のHackerthonに参加。2015年3月には社内スマホアプリ開発コンテストの優勝商品としてシリコンバレー旅行を経験。現地で手に入れたIoT技術情報にワクワクしている。<br>
					<a href="http://qiita.com/mtoyoshi" target="_blank">Qiita：http://qiita.com/mtoyoshi</a>
				</p>
			</div>
		</div>
		<!-- Toyoshima -->
		<!-- Asanuma -->
		<div class="block-members cf">
			<div class="box-photo box-left">
				<img src="/recruit/L1111/img/lp_engineer/pic_member_asanuma.png" alt="">
			</div>
			<div class="box-text box-right">
				<p class="name-engineer">Masayuki (ぬま)<br>
					<span class="engineer-post-star">★</span>
					<span class="engineer-post">リードプログラマ</span>
				</p>
				<p class="profile-engineer">
					大学時代は電気・電子で多少の情報技術を学ぶ。SIerの1社目でABAP/4という特殊言語を使い、2社目ではJavaを使い、主に業務システムやWebシステムを作っていた。ただSIerだと開発後に作ったモノに携われず、自分の作ったモノに愛情を持ちたい！という想いがフツフツと湧いてきて、自社サービス開発をやっているFringe81へjoin。
				</p>
				<p class="profile-engineer">
					入社後は、サーバサイド開発・インフラで複数プロダクトに関わる。Scalaをメインで使っているが、スモールな社内プロジェクトではPythonを使ったり、局所的な機能にGolangを使ったりで、挑戦を続ける。
				</p>
				<p class="profile-engineer">
					2013年、Facebook主催のHackerthonに参加。Node.jsで戦う。2014年、ScalaMatsuriのスポンサーLTにて社名を連呼しまくり、Scala界隈での知名度上げを試みるが...
				</p>
				<p class="profile-engineer">
					一風変わったTシャツを着用していることが多く、オフィス内でTシャツのデザインが密かに注目されているらしい。Qiitaのf81@githubアカウント連載「やってみよう Scala！ By Fringe81」のゴーストライターという顔も持つ。<br>
					<a href="http://qiita.com/f81@github" target="_blank">Qiita：http://qiita.com/f81@github</a>
				</p>
			</div>
		</div>
		<!-- Asanuma -->

	</section>
	<!-- / 社員紹介 -->

	<!-- エンジニアの1日 -->
	<section class="oneday container-dark">
		<div class="container-content cf">
			<h1 class="title-content"><span class="first-letter-title">エ</span>ンジニアの1日</h1>
			<p class="lead-content">システムアーキテクトのToyoshimaの１日の流れをご紹介します。</p>

			<!-- 1段目 -->
			<div class="wrapper-block-content cf">
				<div class="block-content block-left">
					<div class="box-photo">
						<img src="/recruit/L1111/img/lp_engineer/img_one_day01.png" alt="">
					</div>
					<div class="box-time">8：50</div>
					<p class="title-box">Slackで到着時間を連絡</p>

					<p class="paragraph-txt">
						<a href="#list-benefits">フレックスタイム制</a>なので、妻の体調が悪い時は、代わりに息子を幼稚園まで送る。コアタイムは、13時から15時。Slackで到着時間を連絡するというルールさえ守れば、働き方は自由。この自由度の高い働き方のおかげで、息子と過ごせる時間が増えた。
					</p>
				</div>

				<div class="block-content block-right">
					<div class="box-photo">
						<img src="/recruit/L1111/img/lp_engineer/img_one_day02.png" alt="">
					</div>
					<div class="box-time">9：45</div>
					<p class="title-box">勤務スタート</p>

					<p class="paragraph-txt">
						プロジェクトメンバーからPull Requestが来ていたらレビューをする。プロジェクトメンバーが揃っていなければ、プログラミング集中タイム。
					</p>
				</div>
			</div>
			<!-- 1段目 -->

			<!-- 2段目 -->
			<div class="wrapper-block-content cf">
				<div class="block-content block-left">
					<div class="box-photo">
						<img src="/recruit/L1111/img/lp_engineer/img_one_day03.png" alt="">
					</div>
					<div class="box-time">12：00</div>
					<p class="title-box">ランチに行く</p>

					<p class="paragraph-txt">
						メンバーとランチ。みんなの知らない美味しい店を見つけて連れて行くのが密かな楽しみ。
						新入社員がいれば、声をかけて<a href="#list-benefits">ウェルカムランチ</a>に行く。
					</p>
				</div>
				<div class="block-content block-right">
					<div class="box-photo">
						<img src="/recruit/L1111/img/lp_engineer/img_one_day04.png" alt="">
					</div>
					<div class="box-time">13：00〜</div>
					<p class="title-box">ミーティング etc.</p>

					<p class="paragraph-txt">
						午後一は、プロジェクトのミーティングが入ることが多い。
						それ以外の時間は、プロジェクトメンバーからコーディングの相談を受けて、ペア設計やペアプログラミングをしたり、
						空いた時間で<a href="#list-benefits">書籍購入制度</a>で購入してもらった本を読んで勉強。
					</p>
				</div>
			</div>
			<!-- 2段目 -->

			<!-- 3段目 -->
			<div class="wrapper-block-content cf">
				<div class="block-content block-left">
					<div class="box-photo">
						<img src="/recruit/L1111/img/lp_engineer/img_one_day05.png" alt="">
					</div>
					<div class="box-time">19：00〜</div>
					<p class="title-box">勉強会への参加</p>

					<p class="paragraph-txt">
						社外の有志勉強会に参加したり、会社のメンバーと社内勉強会を開催したり。技術開発部として採用に力を入れているので、Scalaスペシャリストとして採用面接や<a href="/recruit/L1111/hikara.html" target="_blank">採用イベント</a>に出ることも。
					</p>
				</div>
				<div class="block-content block-right">
					<div class="box-photo">
						<img src="/recruit/L1111/img/lp_engineer/img_one_day06.png" alt="">
					</div>
					<div class="box-time">20：00〜</div>
					<p class="title-box">からあげとハイボールで乾杯</p>

					<p class="paragraph-txt">
						金曜日の夜は、会社のメンバーと食事。次回の<a href="#list-benefits">将棋部</a>の大会に向けて帰りの電車では、将棋ウォーズでオンライン対戦しながら帰る。子供が起きている時間に間に合うよう、飲んだ夜も早く帰るようにしている。
					</p>
				</div>
			</div>
			<!-- 3段目 -->
		</div>
	</section>
	<!-- / エンジニアの1日 -->

	<!-- ページ内リンクボタンエリア -->
	<section class="block-btn-jump container-pale">
		<div class="container-content">
			<ul class="list-btn-jump cf">
				<li><a href="#form-easy">話を聞きに行く</a></li>
				<li><a href="#list-recruit">募集要項</a></li>
			</ul>
		</div>
	</section>
	<!-- ページ内リンクボタンエリア -->

	<!-- 現場で使われている技術は？ -->
	<section class="tech container-dark">
		<div class="container-content">
			<h1 class="title-content"><span class="first-letter-title">現</span>場で使われている技術は？</h1>
			<div class="block-list-tech cf">
				<table class="table-tech">
					<tr>
						<th>フロントエンド</th>
						<th>サーバーサイド</th>
						<th>ビッグデータ処理</th>
						<th>インフラストラクチャ</th>
					</tr>
					<tr>
						<td>
							<span class="bold">SP</span><br>
							RxJava<br>
							RxSwift<br>
							Realm<br>
							<span class="bold">PC</span><br>
							JavaScript(ES6)<br>
							TypeScript<br>
							React.js<br>
						</td>
						<td>
							Scala<br>
							Play Framework<br>
							Akka<br>
						</td>
						<td>
							Hadoop<br>
							Spark<br>
							Redshift<br>
							Aerospike<br>
						</td>
						<td>
							AWS<br>
							Docker<br>
							GCP<br>
							Sensu<br>
							CoreOS<br>
						</td>
					</tr>
				</table>
				<table class="table-tech-sp">
					<tr>
						<th>フロントエンド</th>
						<td>
							<span class="bold">SP</span><br>
							RxJava  RxSwift　Realm<br>
							<span class="bold">PC</span><br>
							JavaScript(ES6)　TypeScript　React.js
						</td>

					</tr>
					<tr>
						<th>サーバーサイド</th>
						<td>
							Scala　Play Framework　Akka<br>
						</td>
					</tr>
					<tr>
						<th>ビッグデータ処理</th>
						<td>
							Hadoop　Spark　Redshift　Aerospike
						</td>
					</tr>
					<tr>
						<th>インフラストラクチャ</th>
						<td>
							AWS　Docker　GCP　Sensu　CoreOS
						</td>
					</tr>
				</table>
			</div>
		</div>
	</section>
	<!-- 現場で使われている技術は？ -->

	<!-- 写真 -->
	<section class="container-long-img">
		<img class="long-img" src="/recruit/L1111/img/lp_engineer/pic_long_softball.png" alt="">
		<p class="caption-photo">真夏のソフトボール大会を開催</p>
	</section>
	<!-- 写真 -->

	<!-- 開発の進め方 -->
	<section class="development container-pale">
		<div class="container-content">
			<h1 class="title-content"><span class="first-letter-title">開</span>発の進め方</h1>
			<div class="txt-content">
				<p class="txt-paragraph">リーンソフトウェア開発に則り、大前提として「ムダなものは作らない！」という指針を掲げており、品質や人の尊重、決定の遅延や全体最適などの原則を浸透させることに注力しています。</p>
				<p class="txt-paragraph">品質の面においては、技術的負債は後々大きなボディブローのように効いてくることから、設計とコードレビューを重点的に進められるよう時間とコストをかけています。まだまだ完璧ではありませんが、開発メンバーの思いや向かうべき方向性を共有して動いています。</p>
				<p class="txt-paragraph">プロジェクトの進め方については、開発側のプロジェクトリーダーと事業側のプロダクトマネージャーで定常的に開発アイテムを定めるところから開発がスタート。<br>
				その後は担当者がプロジェクトリーダーによってアサインされ、その担当者が見積もりを提出します。それを元にプロジェクトリーダーがスケジュールとローンチ日をマイルストーンとして定め、それを複数チームで並列に、期間は約1週間から長いものでも1ヶ月以内のスパンで回し、常に止まらない開発を続けています。</p>
				<p class="txt-paragraph">見積もりを担当者自身がすることで、無理のないスケジュール進行、期日は守る責任感の両方を醸成しています。ただリーンの観点で幅を持ったスケジュールで動いているところも肝になります。</p>
			</div>
		</div>
	</section>
	<!-- 開発の進め方 -->

	<!-- 写真 -->
	<section class="container-long-img">
		<img class="long-img" src="/recruit/L1111/img/lp_engineer/pic_long_bowling.png" alt="">
		<p class="caption-photo">チームに分かれて、早朝ボウリング大会。みんな本気。</p>
	</section>
	<!-- 写真 -->

	<!-- 開発の進め方 -->
	<section class="team container-dark">
		<div class="container-content">
			<h1 class="title-content"><span class="first-letter-title">チ</span>ーム構成</h1>
			<p class="lead-content">その時々でプロダクト間でリソースを融通し合う体制なので変動的ですが、<br class="pc-view">だいたい下記の構成のようになります。</p>
			<div class="block-table-team">
				<table class="table-team">
					<tr>
						<th>プロジェクトリーダー</th>
						<td>1名</td>
					</tr>
					<tr>
						<th>UI/UXデザイナー</th>
						<td> 1名（他プロジェクトとかけもち）</td>
					</tr>
					<tr>
						<th>開発エンジニア</th>
						<td>2〜15名（案件やタイミングにより変動）</td>
					</tr>
				</table>
			</div>
		</div>
	</section>
	<!-- 開発の進め方 -->

	<!-- 写真 -->
	<section class="container-long-img">
		<img class="long-img" src="/recruit/L1111/img/lp_engineer/pic_long_usa.png" alt="">
		<p class="caption-photo"><span class="small">開発合宿で優勝したチームは、賞品としてシリコンバレーへ。</span></p>
	</section>
	<!-- 写真 -->

	<!-- エンジニアの環境 -->
	<section class="environment container-pale">
		<div class="container-content">
			<h1 class="title-content"><span class="first-letter-title">エ</span>ンジニアの環境</h1>
			<ul class="list-environment cf">
				<li>
					<img src="/recruit/L1111/img/lp_engineer/pic_office_mbp.png"><br>
					<span class="caption-img">MacBook Pro完備</span><br>
					開発機はMacBook Pro、<br>最新機種を支給
				</li>
				<li>
					<img src="/recruit/L1111/img/lp_engineer/pic_office_chair.png"><br>
					<span class="caption-img">バロンチェア完備</span><br>
					腰痛肩こり対策、<br>マッサージルームもあり
				</li>
				<li>
					<img src="/recruit/L1111/img/lp_engineer/pic_office_book.png"><br>
					<span class="caption-img">オライリー完備</span><br>
					技術書は１００冊以上の<br>ラインナップ
				</li>
				<li>
					<img src="/recruit/L1111/img/lp_engineer/pic_office_review.png"><br>
					<span class="caption-img">コードレビュー完備</span><br>
					先輩エンジニアによる、<br>丁寧なレビュー体制
				</li>
			</ul>
		</div>
	</section>
	<!-- エンジニアの環境 -->

	<!-- 写真 -->
	<section class="container-long-img">
		<img class="long-img" src="/recruit/L1111/img/lp_engineer/pic_long_kamakura.png" alt="">
		<p class="caption-photo">気分転換に鎌倉オフィスでプログラミング</p>
	</section>
	<!-- 写真 -->

	<!-- エンジニア向け3つのキャリア路線 -->
	<section class="career container-dark">
		<div class="container-content">
			<h1 class="title-content"><span class="first-letter-title">エ</span>ンジニア向け３つのキャリア路線</h1>
			<p class="lead-content">Fringe81ではエンジニア職において大きく3つのキャリア路線を用意し、年齢・経験に関わらず、<br class="pc-only">一人ひとりの未来像に向けて納得できるキャリア選択を支援しています。</p>
			<ul class="list-career cf">
				<li>
					<img src="/recruit/L1111/img/lp_engineer/pic_member_natsui.png" alt="">
					<div class="name-career"><span class="icon-star">★</span>マネージメント路線（管理職）</div>
					プロダクト開発、<br class="pc-tab-only">チームマネージメント、<br class="pc-tab-only">会社/組織運営
				</li>
				<li>
					<img src="/recruit/L1111/img/lp_engineer/pic_career_jun.png" alt="">
					<div class="name-career"><span class="icon-star">★</span>ビジネスプロデューサ路線（企画職）</div>
					プロダクト企画、開発<br class="pc-tab-only">顧客課題設定（営業ヒアリング）、<br class="pc-tab-only">事業部長
				</li>
				<li>
					<img src="/recruit/L1111/img/lp_engineer/pic_member_seki.png" alt="">
					<div class="name-career"><span class="icon-star">★</span>スペシャリスト（専門職）</div>
					設計、開発、検証と技術的作業<br class="pc-tab-only">その分野で圧倒すれば<br class="pc-tab-only">きちんと評価される！
				</li>
			</ul>
			<div class="block-career-txt">
				<p class="txt-career">例えば、20代の若手でもプロジェクトマネージャーに抜擢され経験値を上げられる、30代後半でも人のマネジメントではなく特定領域の技術力アップに集中し外部で講演することをミッションとする、などです。</p>
				<p class="txt-career">個人の強みや能力、変化する未来像に合わせたキャリア選択ができるよう、3ヶ月に1度の面談を行い、時に路線変更も行います。一人ひとりのキャリアアップとエンジニアチーム全体の技術力・組織力アップ双方を目指しています。</p>
			</div>
		</div>
	</section>

	<!-- ページ内リンクボタンエリア -->
	<section class="block-btn-jump container-pale">
		<div class="container-content">
			<ul class="list-btn-jump cf">
				<li><a href="#form-easy">話を聞きに行く</a></li>
				<li><a href="#list-recruit">募集要項</a></li>
			</ul>
		</div>
	</section>
	<!-- ページ内リンクボタンエリア -->

	<!-- エンジニアから見たFringe81 -->
	<section class="engineer-survey container-dark">
		<div class="container-content">
			<h1 class="title-content"><span class="first-letter-title">エ</span>ンジニアから見たFringe81</h1>
			<p class="lead-content">Fringe81について、エンジニアの本音が聞きたい!!<br class="pc-tab-only">そんな思いから、アンケートを採ってみました。アンケートの一部を紹介します！</p>

			<div class="block-engineer-survey">
				<p class="question">Fringe81に入社して良かったと思う点は、どんなところですか？</p>
				<ul class="answer">
					<li>無駄なMTGがない。</li>
					<li>エンジニアがエンジニアらしく振る舞える環境。同じ方向をみたエンジニア達がいること。</li>
					<li>話（意思決定）が早く、そのプロセスにも透明性がある。</li>
					<li>自分を出せる。やりたいと言える。やりたくないと言える。</li>
					<li>優秀なおっさんエンジニアに囲まれた環境。</li>
					<li>個人の技術的成長やアウトプットに対してちゃんと評価してくれる点。</li>
					<li>朝フレックスなので子供を幼稚園に送ってから出社しても、いちいち遅刻届とか書かなくて良い。</li>
					<li>書籍買ってもらえるので出費が減った。</li>
					<li>営業が花形で技術は裏方という雰囲気では無いこと。</li>
					<li>自社開発なのでシステム運用に携われて、開発だけでなく運用能力も付く。</li>
				</ul>
				<p class="question">Fringe81の制度で気に入っているものは、なんですか？</p>
				<ul class="answer">
					<li><a href="#list-benefits">ウェルカムランチ</a>かな。入社したての人が事業またいで色々な人とコミュニケーション取れること。</li>
					<li>開発マシンがMacBook Pro、かつサブモニタがある。</li>
					<li><a href="#list-benefits">ウェルカムランチ</a>！ これは最高にクールですね、アイスブレイクに最適でした。</li>
					<li>残業や休日出勤の管理がちゃんとしている。</li>
					<li>エンジニアの<a href="#list-benefits">フレックスタイム制度</a>。家族や子供がいる場合にとても働きやすい。</li>
					<li><a href="#list-benefits">発見大賞</a>。相手のよかった事を発見して褒めるという、ニヤニヤする大賞。</li>
					<li><a href="#list-benefits">借り上げ社宅制度</a>のおかげで、通勤時間も短縮出来て助かっている。</li>
					<li>フィジカルトレーナーが定期的に来て、体を診てくれるのは肩凝りもちには嬉しい。</li>
				</ul>
				<div id="list-benefits"></div>
				<div class="block-benefits">
					<p class="paragraph-benefits">
						<span class="strong-benefits">ウェルカムランチ制度</span>
						新入社員は全ての社員とコミュニケーションが取れる様、1か月間その新入社員と既存社員のランチ補助がされる制度。
					</p>
					<p class="paragraph-benefits">
						<span class="strong-benefits">月報大賞・発見大賞</span>
						毎月末に全社員が「今月達成した事」「貢献した事」「自慢したい事」などを月報として書き、投票で月報大賞を決定。また、同時に、自薦他薦を問わず「新たな発見」をしていた人及びエピソードを投稿して賞賛する「発見大賞」もある。どちらも４半期と年度末に総合ポイントを競いFringe81アワードとして表彰される。
					</p>
					<p class="paragraph-benefits">
						<span class="strong-benefits">フレックスタイム制度</span>
						コアタイムを13:00～15:00としたフレックスタイム制。
					</p>
					<p class="paragraph-benefits">
						<span class="strong-benefits">借り上げ社宅制度</span>
						上限月額2万円契約もしくはローン契約金額の20％を支給。
					</p>
					<p class="paragraph-benefits">
						<span class="strong-benefits">書籍購入制度</span>
						技術力の向上に必要な書籍の購入費用を会社が全額負担。
					</p>
					<p class="paragraph-benefits">
						<span class="strong-benefits">部活制度</span>ボウリング部、ボルダリング部、バスケ部、フットサル部、テニス部、将棋部、電子工作部、ボードゲーム部が存在する。また、5人以上集めれば部を新設でき、活動費が支給される。
					</p>
				</div>

			</div>
		</div>
	</section>
	<!-- / エンジニアから見たFringe81 -->

	<!-- 代表 田中 弦とエンジニアの座談会 -->
	<section class="interview container-pale">
		<div class="container-content">
			<h1 class="title-content"><span class="first-letter-title">代</span>表 田中 弦とエンジニアの座談会</h1>
			<div class="lead-content">
				<p class="paragraph-lead">当社代表の田中 弦(たなかゆづる)とScalaエンジニアの豊島、千田がForkwell社の取材で座談会を行いました。</p>
				<p class="paragraph-lead">代表田中と社員の距離はいつも近く、田中はいつも社内を歩き回りながら「何か欲しいもの、必要なものないの？」とエンジニアに声をかけ、エンジニアにとって働きやすい環境づくりを心がけています。</p>
				<p class="paragraph-lead">座談会では、Scalaエンジニアの二人のエンジニアとしての心構えや考え方、田中がエンジニアに対してどのようなことを期待しているのか、ということを語っています。</p>
			</div>
			<img class="img-interview" src="/recruit/L1111/img/lp_engineer/pic_interview.png" alt="">
			<dl class="block-interview cf">
				<dt class="left-interview"><span class="question-interview">&nbsp;&nbsp;&nbsp;&nbsp;Q：</span></dt>
				<dd class="right-interview">
					<span class="question-interview">前職ではどんな仕事をされていましたか？</span>
				</dd>
				</dd>
				<dt class="left-interview">豊島：</dt>
				<dd class="right-interview">1,000人規模のSIerでSEをやっていました。広告システムの開発をやっていたのですが、年齢とともにだんだんマネジメント業務が増えてきて、気づいたら「最近コード書いてないな、このままでいいのかな」と感じていました。</dd>
				<dt class="left-interview">千田：</dt>
				<dd class="right-interview">私も前職はSIerのSEですが、最初は商品開発、次にISPのネットワークエンジニア、そしてSEという流れです。</dd>
				<dt class="left-interview">田中：</dt>
				<dd class="right-interview">二人ともSEだったんだね。Fringe81のエンジニアになって、SIerのSEとどんな違いがある？</dd>
				<dt class="left-interview">豊島：</dt>
				<dd class="right-interview">世間一般にはSEというと受託開発のイメージが強いですよね。Fringe81は自社サービスの開発なので、企画・設計・開発と一気通貫で全体を見られます。大手のSIerでは、それぞれの工程でエンジニアが分断されていることが多く、全体が見られることは稀ではないでしょうか。</dd>
				<dt class="left-interview">千田：</dt>
				<dd class="right-interview">私も同感ですね。対象が自社サービスになると“育てる”という感覚で開発ができます。SIerではそうもいきませんから。</dd>
				<dt class="left-interview"><span class="question-interview">&nbsp;&nbsp;&nbsp;&nbsp;Q：</span></dt>
				<dd class="right-interview"><span class="question-interview">Fringe81に入って驚いたことはありますか？</span></dd>
				<dt class="left-interview">豊島：</dt>
				<dd class="right-interview">意思決定のスピードがとても速いところです。ある日、夕方に稟議書を出して帰ったら、翌朝には代表のところまですべて通っていたんです。こっちは「明日出社したら上長にプッシュして……」と考えていたので、びっくりしました。前の職場では、ステップごとに説明に行ってプッシュしても10日とか普通にかかっていましたから。</dd>
				<dt class="left-interview">田中：</dt>
				<dd class="right-interview">現場が必要と言っているのに、手続きの問題で待たせても意味がないからね。</dd>
				<dt class="left-interview"><span class="question-interview">&nbsp;&nbsp;&nbsp;&nbsp;Q：</span></dt>
				<dd class="right-interview"><span class="question-interview">お二人ともScalaエンジニアだそうですが、Scalaのいいところはどこでしょう。</span></dd>
				<dt class="left-interview">豊島：</dt>
				<dd class="right-interview">私はScala採用を推進した一人なんですが、ScalaはJVM言語なのでJavaとの親和性が高く、オブジェクト指向と関数型の両方の特性を持っています。Fringe81はJavaからの移行だったのですが、Scalaはコーディングスタイルが洗練された“ベターJava”として使うこともできる。そして、少し慣れてくると関数型の機能を少しずつ使って、もっとスマートなコードが書けるようになる。いきなり関数型言語の世界に入るよりも習得しやすいと思います。</dd>
				<dt class="left-interview">千田：</dt>
				<dd class="right-interview">私が感じるScalaのいいところは、問題をシンプルに表現できるところですね。同じ問題のコードを書く場合でもScalaにはJavaのような冗長さがない。Scalaの導入は私の入社前で、Fringe81に転職したのもここならScalaが思う存分に使えるからというのが大きいです。前職では、Scalaで提案を通すことだけで大変でしたから。</dd>
				<dt class="left-interview">田中：</dt>
				<dd class="right-interview">そんなにJavaとコードの長さが変わるものなの？</dd>
				<dt class="left-interview">豊島：</dt>
				<dd class="right-interview">内容や書き方にもよりますが、Scalaで書けばJavaの半分くらいにはなりますね。コードの見通しがよくなるので、書くスピードや読むスピードも速くなります。Scalaでは並列処理も書きやすいので、広告配信などの高速処理が求められるコードも短期間で書けるようになりました。それから、次期Hadoopと目されているSparkはScalaで実装されているので、それとの相性もよいですね。</dd>
				<dt class="left-interview"><span class="question-interview">&nbsp;&nbsp;&nbsp;&nbsp;Q：</span></dt>
				<dd class="right-interview"><span class="question-interview">Scalaの導入はどのように行われたのでしょう。</span></dd>
				<dt class="left-interview">豊島：</dt>
				<dd class="right-interview">私自身は独学です。書籍を読んだり、Scalaコミュニティの勉強会に参加したり、オープンソースのコードを読んだりと。オープンソースのコードは実例なのでとても勉強になります。ちなみにFringe81は、Scalaコミュニティが毎年開催している「Scala Matsuri」というイベントのスポンサーにもなっています。一方、社内では学習用テキストを作成しました。よくあるパターンの問題をScalaで書いてみるというタイプの自習用テキストで、段階的にコードをブラッシュアップできるようにしています。</dd>
				<dt class="left-interview">千田：</dt>
				<dd class="right-interview">そのテキストは私も使いました。入社前からScalaは使っていましたが、このテキストはよくできていると感心しましたね。</dd>
				<dt class="left-interview">豊島：</dt>
				<dd class="right-interview">それから導入初期は各人のスキルレベルがまちまちだったので、私が専任でコードレビューを行ったりもしました。もっとスマートな書き方ができるときは指摘して共有する、そうやってチーム全体でレベルアップしていった感じです。今は専任のレビュアーを置かずに相互レビューすることが多いですが。一応、相互レビューのペアは決めてありますが、レビュー依頼とかの情報は、社内チャットで使っているSlackで共有しているので、ときにはペアでない別の人から指摘が入ることもあります。</dd>
				<dt class="left-interview"><span class="question-interview">&nbsp;&nbsp;&nbsp;&nbsp;Q：</span></dt>
				<dd class="right-interview"><span class="question-interview">技術的なトレンドなどはどうやってキャッチアップしているのですか？</span></dd>
				<dt class="left-interview">豊島：</dt>
				<dd class="right-interview">これもSlackにTechネタのスレッドが用意してあって、そこにはてなブックマークやTwitterから拾ってきたネタを投稿して共有しています。</dd>
				<dt class="left-interview">千田：</dt>
				<dd class="right-interview">面白そうなのがあったら、勝手に調べて社内勉強会を開いたりするんです。</dd>
				<dt class="left-interview">田中：</dt>
				<dd class="right-interview">みんなすぐやっちゃうよね。誰から命じられたわけでもないのに（笑）。</dd>
				<dt class="left-interview">豊島：</dt>
				<dd class="right-interview">この前は、大学生のインターンにも協力してもらって、Scala用のストリーム・ライブラリの比較調査を行いました。</dd>
				<dt class="left-interview">田中：</dt>
				<dd class="right-interview">正直なところ現場の人間としては、先端技術の追求というか、常に新しいものにチャレンジするのは大変じゃない？</dd>
				<dt class="left-interview">豊島：</dt>
				<dd class="right-interview">うーん。それが好きな人が集まっているとしか言いようが…（笑）苦痛な人はそもそも入社してことないと思います。</dd>
				<dt class="left-interview"><span class="question-interview">&nbsp;&nbsp;&nbsp;&nbsp;Q：</span></dt>
				<dd class="right-interview"><span class="question-interview">最後に、どんな人に参加してもらいたいですか？</span></dd>
				<dt class="left-interview">豊島：</dt>
				<dd class="right-interview">とにかくチャレンジ精神や知的好奇心が旺盛な人が増えてほしいですね。私は開発に集中したいのでScalaスペシャリストとして働いていますが、開発・運用なんでもやってみたいというのもありです。最新技術を学びたい方や、マネジメントよりも手を動かしていたいというスペシャリスト志向の方にはどんどん応募してほしいですね。</dd>
				<dt class="left-interview">田中：</dt>
				<dd class="right-interview">ちょっと補足すると、スペシャリスト制度は2年前に導入したんです。それまで当社のエンジニアは、インフラからプロジェクト・マネジメント、開発、運用ぜんぶやっていたんですが、エンジニアチームも大きくなってきたので、みんなが全員ジェネラリストである必要はないなと。<span class="paragraph-interview">マネジメントも才能なら、コードを書くのも才能。才能に対してまっとうな対価を払おうということでもあります。マネジメントよりもコードを書くのが好きなら、それでステップアップできるキャリアパスを用意することが、エンジニアがより生き生きと働くために重要なことのひとつだと思っています。</span></dd>
			</dl>
		</div>
	</section>
	<!-- 代表 田中 弦とエンジニアの座談会 -->

	<!-- 『最先端IT企業』でありながら『家族的なほっこりする会社』へ -->
	<section class="ceo-interview container-dark">
		<div class="container-content">
			<h1 class="title-content"><span class="first-letter-title">『最</span>先端IT企業』でありながら、<br class="tab-only">『家族的なほっこりする会社』へ</h1>
			<div class="block-ceo-interview">
				<div class="box-photo-ceo">
					<img class="photo-ceo" src="/recruit/L1111/img/lp_engineer/pic_yuzuru.png" alt="">
				</div>
				<div class="box-txt-ceo">
					<p class="paragraph-txt-ceo">基本的にエンジニアは、成果を出していればあとは何をやっていてもいいと考えています。ただし、個人主義の集まりではダメで、それではチームとしての相乗効果が生まれない。お互いにリスペクトしあう、と言うとかっこつけすぎですが、社内の空気に家族的な『ほっこり』する感じを出したいと考えています。</p>
					<p class="paragraph-txt-ceo">例えば、当社には毎週の全社会議で行われる『発見大賞』というものがあります。これは、ほかのスタッフのいいところに気づいたらそれを発表するというもので、先日の会議では、あるデザイナーが『発見』されていました。デザイナーの彼はWebデザインの中身をよりきちんと理解するために、エンジニアに繰り返しJavaScriptのわからないところを質問していたそうです。</p>
					<p class="paragraph-txt-ceo">『常に勉強する姿勢が素晴らしい』と、指摘された本人は少し恥ずかしそうでしたが、自分の努力を誰かが見ていてくれているというのはうれしいもの。また、それを見ていなかった人にも、彼がどんな人なのかがわかるという効果もあります。</p>
					<p class="paragraph-txt-ceo">せっかくやる気のある優秀なエンジニアを集めても、どんどん人が辞めていくような会社では技術が蓄積されません。ですから、『先端技術の追求』と『家族的で居心地が良い』というのは矛盾しないと思うのです。やりたいことにチャレンジできて、自分の才能を開花させることができる、そんな度量がこの会社にはあると自負しています。熱い思いを持っている人に門をたたいてもらいたいですね。</p>
				</div>
			</div>
		</div>
	</section>
	<!-- 『最先端IT企業』でありながら『家族的なほっこりする会社』へ -->

	<!-- 写真 -->
	<section class="container-long-img">
		<img class="long-img" src="/recruit/L1111/img/lp_engineer/pic_long_everyday.png" alt="">
		<p class="caption-photo">新しいガジェット大好き</p>
	</section>
	<!-- 写真 -->

	<!-- 会社の成長率 -->
	<section class="growth container-pale">
		<div class="container-content">
			<h1 class="title-content"><span class="first-letter-title">F</span>ringe81の成長率</h1>
			<p class="lead-content">テクノロジーをコアとした、新規事業開発をやり続けています。強みは広告事業領域ですが、他領域へも展開しているところです。売上高は毎年増加していて、従業員も110名以上に増えました。</p>
			<img src="/recruit/L1111/img/lp_engineer/graph_growth.png" alt="">
		</div>
	</section>
	<!-- 会社の成長率 -->

	<!-- 会社の事業 -->
	<section class="business container-dark">
		<div class="container-content">
			<h1 class="title-content"><span class="first-letter-title">会</span>社が行っている事業</h1>
			<p class="lead-content">事業開発と技術開発を一貫して社内に持ち、自主企画自主開発で次々とサービスを作ってきました。</p>
			<img src="/recruit/L1111/img/lp_engineer/graph_product.png" alt="">
		</div>
	</section>
	<!-- 会社の事業 -->

	<!-- 写真 -->
	<section class="container-long-img">
		<img class="long-img" src="/recruit/L1111/img/lp_engineer/pic_long_office.png" alt="">
		<p class="caption-photo">みんなで集まれるコミュニケーションスペース</p>
	</section>
	<!-- 写真 -->

	<!-- 会社概要 -->
	<section class="company-info container-pale">
		<div class="container-content">
			<h1 class="title-content"><span class="first-letter-title">会</span>社概要</h1>
			<div class="block-company-info">
				<div class="wrapper-table-company-info">
					<table class="table-company">
						<tr>
							<th>社名</th>
							<td>Fringe81株式会社</td>
						</tr>
						<tr>
							<th>所在地</th>
							<td>〒106-0032<br>
								東京都港区六本木6-2-31 <br class="sp-only">六本木ヒルズノースタワー10F<br>
								E-Mail ： info@fringe81.com　<br class="sp-only">TEL ： 03-6869-8100
							</td>
						</tr>
						<tr>
							<th>資本金</th>
							<td>334,913,980円</td>
						</tr>
						<tr>
							<th>事業内容</th>
							<td>インターネット広告技術の開発/コンサルティング</td>
						</tr>
						<tr>
							<th>従業員数</th>
							<td>110名（派遣／アルバイト含む）</td>
						</tr>
						<tr>
							<th>株主<br><span class="small">(投資事業組合の運営主体含む)</span></th>
							<td>
								田中 弦<br>
								経営陣<br>
								伊藤忠テクノロジーベンチャーズ株式会社<br>
								株式会社サイバー・コミュニケーションズ<br>
								株式会社サイバーエージェント<br>
								株式会社NTTドコモ・ベンチャーズ<br>
								グリー株式会社<br>
								株式会社電通デジタルホールディングス<br>
								TBSイノベーション・パートナーズ合同会社<br>
								株式会社マイクロアド<br>
								株式会社アイスタイルキャピタル<br>
							</td>
						</tr>
						<tr>
							<th>取引先</th>
							<td>
								株式会社サイバー・コミュニケーションズ<br>
								株式会社サイバーエージェント<br>
								株式会社リクルート<br>
								株式会社オプト<br>
								株式会社セプテーニ
							</td>
						</tr>
					</table>
				</div>
				<div class="box-map">
					<iframe width="100%" height="150" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3241.61575184839!2d139.73015380000004!3d35.661837549999845!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188b778fe74fed%3A0x2130307e27801317!2z5YWt5pys5pyo44OS44Or44K644OO44O844K544K_44Ov44O8!5e0!3m2!1sja!2sjp!4v1400463459668"></iframe>
				</div>
			</div>
		</div>
	</section>
	<!-- 会社概要 -->

	<!-- 写真 -->
	<section class="container-long-img">
		<img class="long-img entrance" src="/recruit/L1111/img/lp_engineer/pic_long_fringe81.png" alt="">
		<p class="caption-photo">Fringe81 エントランス</p>
	</section>
	<!-- 写真 -->

	<!-- 募集要項 -->
	<section class="recruit-info container-dark">
	<div id="list-recruit"></div>
		<div class="container-content">
			<h1 class="title-content"><span class="first-letter-title">募</span>集要項</h1>
			<div class="block-recruit-info">
				<table class="table-recruit-info">
					<tr>
						<th>職種</th>
						<td>Webアプリケーションエンジニア</td>
					</tr>
					<tr>
						<th>年収</th>
						<td>400万円 〜800万円</td>
					</tr>
					<tr>
						<th>勤務時間</th>
						<td>9:30〜18:30（コアタイムを13:00～15:00としたフレックスタイム制）<br></td>
					</tr>
					<tr>
						<th>休日休暇</th>
						<td>完全週休2日、祝日、夏季休暇、年末年始休暇、<br>有給休暇、慶弔休暇、育児休業、介護休業</td>
					</tr>
					<tr>
						<th>社会保険・福利厚生等</th>
						<td>
						社会保険完備（健康保険、厚生年金、雇用保険、労災保険）<br>
						通勤交通費支給（月額2.5万円まで）<br>
						住宅手当（上限月額2万円契約もしくはローン契約金額の20％を支給）<br>
						ストックオプション制度<br>
						定期健康診断（年1回）<br>
						ウェルカムランチ制度など、他の制度については<a href="#list-benefits">こちら</a></td>
					</tr>
				</table>
			</div>
		</div>
	</section>
	<!-- 募集要項 -->
	<!-- 話を聞きに行きたい -->
	<div id="form-easy"></div>
	<section class="form-area container-pale">
		<div class="container-content">
			<h1 class="title-content"><span class="first-letter-title">話</span>を聞きに行く</h1>
			<p class="lead-content">気軽にオフィスに遊びに来てください!<br>お申し込みは30秒で完了します!<br>毎月、会社説明会も開催中！<a href="/recruit/L1111/hikara.html" target="_blank">詳細はこちら！</a></p>

			<div class="block-form">
				<form action="https://pro.form-mailer.jp/fm/service/Forms/confirm" method="post" name="form1" ENCTYPE="multipart/form-data">
					<input type="hidden" name="key" value="ff8f6ebd77171" >
					<table>
					<tr>
						<th>お名前</th>
						<td><input name="field_1266844" type="text" size="30"></td>
					</tr>
					<tr>
						<th>メールアドレス</th>
						<td>
							<input name="field_1266840" type="text" size="30">
						</td>
					</tr>
					<tr>
						<th>メールアドレス<br class="pc-tab-only">（確認用）</th>
						<td><input name="field_1266840_mcon" type="text" size="30"></td>
					<tr>
	                    <tr class="form-submit">
	                        <td colspan="2">
	                            <input name="submit" type="submit" value="確認画面へ" class="btn">
	                        </td>
	                    </tr>
	                <input type="hidden" name="code" value="utf8">
					</table>
				</form>
			</div>

		    <div class="txt-personal-info">
		        <p>
		            当社は、応募者の皆様の氏名、住所、性別、生年月日、電話番号などのほか、個人情報（特定の個人を識別できる情報）について、 以下の方針に沿って取り扱います。内容に同意の上、ご送信ください。
		        </p>
		        <ol>
		            <li>
		                当社における個人情報の取り扱いについての基準、運用に関する規程（以下「個人情報保護基本規程」という）を制定し、 個人情報に関する法令等を遵守します。
		            </li>
		            <li>
		                収集した個人情報について、本人から自己の個人情報に関して、開示、訂正、削除などの請求や問い合わせを受けた際には、 個人情報保護基本規程に基づいて対応します。
		            </li>
		            <li>個人情報の保護に努めるため、以下のような管理を行います。</li>
		            <ol>
		                <li>個人情報保護責任者（CPO）を選任し、責任の所在を明らかにします。</li>
		                <li>個人情報が保存されているサーバー等、情報システムの安全対策を実施します。 </li>
		            </ol>
		            <li>利用目的のため、個人情報に関する作業を外部委託する場合には、規程に従って委託先を選定します。</li>
		            <li>個人情報の取り扱い及び管理については、以下の担当窓口で対応します。 </li>
		            <ol>
		                <li>Fringe81株式会社 個人情報保護担当室</li>
		                <li>mail: i&#110;&#102;&#111;&#64;f&#114;in&#103;&#101;&#56;&#49;&#46;com FAX: 03-3770-0415</li>
		            </ol>
		            <li>本ポリシーは、当社のホームページに掲載し常時閲覧できる状態にします。</li>
		            <li>本ポリシー及び個人情報保護基本規程は、法令の改正等に伴い随時見直し及び改善を行います。</li>
		        </ol>
		    </div>
		    <!-- /.txt-personal-info -->
		</div>
		<!-- /.container content -->
	</section>
	<!-- 話を聞きに行きたい -->

	<div class="container-go-top">
		<a href="#" id="go-top"><img src="/common/img/btn_gotop.png" data-pin-nopin="true"></a>
	</div>

	<!-- footer -->
	<footer class="footer-page container-dark">
		<div class="container-content">
			<ul class="list-footer">
				<li>© 2015 Fringe81 Co.,Ltd.</li>
				<li>｜<a href="/privacy.html">プライバシーポリシー</a></li>
			</ul>
		</div>
	</footer>


</div>
<!-- wrapper -->


<!--[if lt IE 9]>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../common/js/jquery-1.11.3.min.js"><\/script>')</script>
<![endif]-->
<!--[if gte IE 9]><!-->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/common/js/vendor/jquery-2.1.4.min.js"><\/script>')</script>
<!--<![endif]-->
<script src="/common/js/common.min.js"></script>
<script src="/recruit/L1111/js/lp_engineer.min.js"></script>

	<!--TagKnightManageTag-->
	<script type="text/javascript">
	    (function() {
	        window.mtuId='wC_E2zdj3lj_';
	        var w=window,
	             d=w.document,
	             h='//c.tgknt.com/c/j/',
	             s=d.createElement('script'),
	             oie=(d.documentMode&&d.documentMode<9)?true:false;
	        s.type='text/javascript';
	        s.src= w.location.protocol+h+w.mtuId;
	        if(oie){
	           document.write("<script type=\"text/javascript\" src="+s.src+"><\/script>");
	        }else{
	           d.body.appendChild(s);
	        }
	    }());
	</script>
	<!--TagKnightManageTagEnd-->


<!-- FB -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.5";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<!-- FB -->

</body>
</html>