<!DOCTYPE html>
<html lang="jp">
<head>
	<meta charset="UTF-8">
	<title>Message 代表 田中弦より | Fringe81株式会社</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="robots" content="all">
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<meta name="google-site-verification" content="n0ep9zeyioGG0rxVVAVXVcUN2x6rH6LiDvITFUzl9-E" />
	<meta name="keywords" content="第三者配信,タグマネジメント,アトリビューション,DSP運用,RSS広告,フィード広告,SBT,スマートバイイング,広告運用" />
	<meta name="description" content="『新しい発見をもとに、地球の未来を創る集団。』Fringe81株式会社が追求している文化や価値観のユニークネスを発信するサイトです。" />
	<meta property="og:title" content="Message 代表 田中弦より | Fringe81株式会社" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="http://www.fringe81.com/culture/" />
	<meta property="og:image" content="http://www.fringe81.com/culture/img/ogp_culture.png" />
	<meta property="og:site_name" content="Fringe81" />
	<meta property="og:description" content="『新しい発見をもとに、地球の未来を創る集団。』Fringe81株式会社が追求している文化や価値観のユニークネスを発信するサイトです。" />
	<link rel="canonical" href="">
	<link rel="icon" href="/favicon.ico" />
	<script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:400,100,300" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="/common/css/common.min.css">
	<link rel="stylesheet" href="/culture/css/culture.min.css">
</head>
<body id="message">
<div class="wrapper bg-gray01">

	<!-- .header nav -->
	<% include ../common/inc/_header_nav %>
	<!-- /.header nav -->

	<section class="main-visual-mod">
		<img class="bg-main-visual" src="/culture/img/message/main_visual.jpg" alt="">
		<div class="container-main-visual-mod">
			<h1 class="head-main-visual font-en">MESSAGE</h1>
			<span></span>
			<h2 class="sub-head-main-visual">代表 田中弦より</h2>
		</div>
	</section>

	<!-- .breadcrumb top -->
	<nav class="nav-breadcrumb breadcrumb-top" role="navigation">
		<div class="container-nav-breadcrum font-en">
		    <ul class="breadcrumb cf">
		      <li class="breadcrumb-active"><a href="/culture/index.html">TOP</a></li>
		      <li>></li>
		      <li class="breadcrumb-active">MESSAGE</li>
		    </ul>
		</div>
	</nav>
	<!-- /.breadcrumb top -->

	<!-- .article main -->
	<article class="article-main" role="main">
		<section class="container-head">
			<div class="square-head"></div>
			<h1 class="head"><img src="/culture/img/message/txt_title.png" alt="どこまで我々はユニークな会社になれるのだろうか"></h1>
		</section>
		<section class="container-content">
			<div class="block-txt block-txt-left">
				<p class="paragraph-txt-main">
					Fringe81は、アドテク事業の強い会社と見られがちです。今現在は、確かにアドテク事業が強い会社であるのは否定できません。今、我々は自らを変えようとしています。
				</p>
				<p class="paragraph-txt-main">
					なぜやるのか、どうやるのか、というWhyHow（ビジョン・文化・行動指針）は全く変えず、What部分はこれからどんどん新しい分野にチャレンジしていく会社になっていきたいと思っています。
				</p>
				<p class="paragraph-txt-main">
					アドテクだけではなく、ビジョンを中心とした複数の事業ポートフォリオを持つ事業開発集団へ。これが我々の目指す姿です。
				</p>
				<p class="paragraph-txt-main">
					Google社が「alphabet」という名前に変わる、というニュースが先日ありました。Googleは単なる「G」であって、「alpha（投資期待値を大きく上回るイノベーティブなこと）-bet（に投資する）」ことがやりたいから、そう変えるんだ、というラリー・ペイジのレターが、そうだよそういう会社俺もやりたいんだよ、と思うのです。
				</p>
				<p class="paragraph-txt-main">
					ただしFringe81がalphabetと大きく異なるところは、Howに「行動指針と組織」を入れているところだと思います。僕たちには強烈な組織力があります。それこそ、この2年の間に、いかに熱い組織を作れるか、というところに力を入れてきました。まだまだ、Googleと比べるのも恥ずかしいレベルの会社ではありますが、ここは絶対負けないぞ、と思うのです。
				</p>
				<p class="block-refer">
					“<a class="link-refer" href="//www.fringe81.com/blog/?p=1994" target="_blank">事業主導ではなく、ビジョン／カルチャー主導のベンチャーはあり得るか</a>”より
				</p>
			</div>
			<div class="block-txt block-txt-right">
				<p class="paragraph-txt-main">
					また、我々は高い成長力を永久に継続していくため、骨の髄までユニークな会社になろうとしています。全ての組織を「普通の会社ではない」状況にするため、日々改善に改善を加えています。
				</p>
				<p class="paragraph-txt-main">
					例えば、どうしても組織が大きくなるにつれてスピード感が落ちがちな経営管理部においては、ゲーミフィケーションの考え方を取り入れた新しい内部統制スタイルを確立しました。
				</p>
				<p class="paragraph-txt-main">
					ベンチャー最強の経営管理部になるには、ゲームマスターになるべし、と私は思います。一番ルーチンワークが発生しやすい部署なので、ルーチンワークのスピードや管理を徹底するよりも、クリエイティブなアイデアを考える部署であってほしい。
				</p>
				<p class="block-refer">
					“<a class="link-refer" href="//www.fringe81.com/blog/?p=1971" target="_blank">ベンチャー最強の内部統制をつくる</a>”より
				</p>
			</div>
			<div class="block-txt block-txt-left">
				<p class="paragraph-txt-main">
					また、技術開発部門においても、成長にともない、プロパー社員エンジニアの技術力の低下をいかに防ぐか、を主眼に新しいエンジニアマネジメント手法を開発しています。
				</p>
				<p class="paragraph-txt-main">
					そこで出来上がったのが、逆転の発想で、「プロパー社員エンジニアはコードだけ書く。派遣／契約エンジニアが社員をマネジメントする」というものです。いいですねこの逆行しているかんじ。
				</p>
				<p class="paragraph-txt-main">
					これが本当にうまくいったなぁと思ってまして、プロパー社員エンジニアの技術レベルがどんどん上がっていくんですよね。「なんだみんなマネジメントしたくなかったんだね、新しい技術へのチャレンジや、最前線に出たかったんだ」ということになったのです。
				</p>
				<p class="block-refer">
					“<a class="link-refer" href="//www.fringe81.com/blog/?p=1937" target="_blank">エンジニア35才定年説に挑戦する</a>”より
				</p>
			</div>
			<div class="block-txt block-txt-right">
				<p class="paragraph-txt-main">
					我々はベンチャーですから、当然のように”成長”を期待されていますし、そのご期待に応えるのは当然です。しかしながら、成長に伴って「普通の会社」になっていくのは断固として反対であり、大きく成長してくからこそ、ユニークさをより激しく追求する会社になっていきたいと思っています。
				</p>
				<p class="paragraph-txt-main">
					この一月くらい、役員会ではずっと「ユニークネス」を追求しようぜ、と言いまくってました。それしか言ってないくらいです。もう普通の会社じゃ今後生き残っていけない。ここから世界中の人がインターネットに接続されていくなか、日本市場だけ見ていてもいけないし、ましてや広告産業およびもっと狭くアドテクだけ見ていてはまったくつまらん会社になってしまうという危機感があります。
				</p>
				<p class="paragraph-txt-main">
					Fringe81、30年の計なんですよ。今の私の頭の中は。我々のビジョンは「新しい発見をもとに、地球の未来を創る集団」なんです。30年（そんなにかからず実現したいけど）たった後に、「あいつら確かに地球の未来創ったわ~」って言われてれば良いのです。今から、どうやるかなんて、わかってません。わかってませんけど、そう目指すと決めたからにはなんとしてでも実現します。10年後、20年後の将来が見えている方がつまらんのです。
				</p>
				<p class="block-refer">
					“<a class="link-refer" href="//www.fringe81.com/blog/?p=1926" target="_blank">Finge81をあと３０年経営したい</a>”より
				</p>
			</div>
			<div class="block-txt block-txt-left">
				<p class="paragraph-txt-main pd-btm0">
					アドテク中心の会社から、ビジョンを中心とした複数の事業ポートフォリオを持つ事業開発集団へ。<br>
					我々は変化をやめません。どうぞご期待ください。
					<span class="txt-name"><img src="/culture/img/message/txt_name.png" alt="田中弦"></span>
				</p>
			</div>
		</section>
	</article>
	<!-- /.article main -->

	<!-- sns -->
	<% include ../common/inc/_sns %>
	<% include ../common/inc/_link_recruit %>
	<% include ../common/inc/_sns_bottom %>
	<!-- sns -->

	<!-- .breadcrumb bottom -->
	<nav class="nav-breadcrumb breadcrumb-btm" role="navigation">
		<div class="container-nav-breadcrum font-en">
		    <ul class="breadcrumb cf">
		      <li class="breadcrumb-active"><a href="/culture/index.html">TOP</a></li>
		      <li>></li>
		      <li class="breadcrumb-active">MESSAGE</li>
		    </ul>
		</div>
	</nav>
	<!-- /.breadcrumb bottom -->

	<!-- /.footer -->
	<% include ../common/inc/_footer %>
	<!-- /.footer -->

</div>
<!-- /.wrapper -->
<!--[if lt IE 9]>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../common/js/jquery-1.11.3.min.js"><\/script>')</script>
<![endif]-->
<!--[if gte IE 9]><!-->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/common/js/vendor/jquery-2.1.4.min.js"><\/script>')</script>
<!--<![endif]-->
<script src="/common/js/common.min.js"></script>
<script src="/culture/js/culture.min.js"></script>
<!-- sns script -->
<% include ../common/inc/_sns_script %>
<!-- sns script -->
<!-- Tag Night -->
<% include ../common/inc/_tagknight %>
<!-- / Tag Night -->
</body>
</html>