<div class="container-go-top">
	<a href="#" id="go-top"><img src="/common/img/btn_gotop.png"></a>
</div>
<footer class="footer-site font-en" role="contentinfo">
	<div class="container-footer-site cf">
	    <ul class="block-footer-site">
	      <li class="drop-cap-medium"><a href="index.html">Culture</a></li>
	      <li class="size-en"><a href="/culture/index.html">TOP</a></li>
	      <li class="size-en"><a href="/culture/about.html">Fringe81=?</a></li>
	      <li class="size-en"><a href="/culture/message.html">MESSAGE</a></li>
	      <li class="size-en"><a href="/culture/member.html">MEMBER</a></li>
	      <li class="size-en"><a href="/culture/benefit.html">BENEFIT</a></li>
	      <li class="size-en"><a href="/culture/office.html">OFFICE</a></li>
	      <li class="size-en"><a href="/culture/mind.html">OUR MIND</a></li>
	    </ul>
	    <ul class="block-footer-site">
	      <li class="drop-cap-medium font-en">BUISINESS</li>
	      <li><a href="/adope.html" target="_blank">広告運用</a></li>
	      <li class="size-en"><a href="/sbt.html" target="_blank">SBT</a></li>
	      <li class="size-en"><a href="/vml.html" target="_blank">VML TOKYO</a> </li>
	      <li><a href="/attribution.html" target="_blank">アトリビューション分析</a></li>
	      <li><a href="/tagmanagement.html" target="_blank">タグマネジメント</a></li>
	      <li><a href="/3pas.html" target="_blank">第三者配信</a></li>
	      <li><a href="/tech.html" target="_blank">テクノロジー</a> </li>
	      <li><a href="/rssadvertising.html" target="_blank"><span class="size-en">RSS</span>広告</a></li>
	      <li><a href="http://www.fringe81.com/blog/" target="_blank">ブログ</a></li>
	    </ul>
	    <ul class="block-footer-site">
	      <li class="drop-cap-medium"><a href="/recruit/index.html" target="_blank">RECRUIT</a></li>
	      <li class="size-en"><a href="/recruit/career.html" target="_blank">MIDCAREER</a></li>
	      <li class="size-en"><a href="/recruit/newgrads.html" target="_blank">NEW GRADUATE</a></li>
	      <li class="size-en"><a href="/recruit/intern.html" target="_blank">INTERN</a></li>
	    </ul>
	    <ul class="block-footer-site">
	      <li class="drop-cap-medium"><a href="/pressrelease/" target="_blank">NEWS</a></li>
	      <li><a href="/pressrelease/" target="_blank">プレスリリース</a></li>
	    </ul>
	    <ul class="block-footer-site cf">
	      <li class="drop-cap-medium">CAMPANY</li>
	      <li><a href="/company/index.html" target="_blank">会社概要</a></li>
	      <li><a href="/company/officer.html" target="_blank">役員紹介</a></li>
	      <li><a href="/company/vision.html" target="_blank">ビジョン</a></li>
	      <li><a href="/company/office.html" target="_blank">働く環境</a></li>
	    </ul>
    </div>
    <!--container footer site -->
    <div class="container-copyright font-en">
    	<small class="copyright"><span class="size-en">© 2015 Fringe81 Co.,Ltd.</span>｜<a href="/privacy.html" target="_blank">プライバシーポリシー</a></small>
    </div>
</footer>