<header class="header-site" role="banner">
	<div class="container-header-site">
		<div class="header-site-logo">
			<a href="//www.fringe81.com"><img src="/common/img/img_header_logo.png" alt="Fringe81"></a>
		</div>

    	<a id="nav-site-btn" href="#">Menu</a>
		<nav id="nav-site" class="font-en" role="navigation">
			<ul class="nav-first-layer">
				<li>
					<a class="nav-item-first-layer" href="/culture/">
						<span>TOP</span>
					</a>
				</li>
				<li class="txt-slash">/</li>
				<li>
					<a class="nav-item-first-layer" href="/culture/about.html">
						<span>Fringe81=?</span>
					</a>
				</li>
				<li class="txt-slash">/</li>
				<li>
					<a class="nav-item-first-layer" href="/culture/message.html">
						<span>MESSAGE</span>
					</a>
				</li>
				<li class="txt-slash">/</li>
				<li>
					<a class="nav-item-first-layer" href="/culture/member.html">
						<span>MEMBER</span>
					</a>
				</li>
				<li class="txt-slash">/</li>
				<li>
					<a class="nav-item-first-layer" href="/culture/mind.html">
						<span>OUR MIND</span>
					</a>
				</li>
				<li>
					<a class="nav-item-first-layer btn-recruit" href="/recruit/" target="_blank">
						<span>RECRUIT</span>
					</a>
				</li>
			</ul>
		</nav>
		<!-- </nav> -->
		<!-- /.nav site -->
	</div>
	<!-- /.header site in -->
</header>
