<header class="header-site" role="banner">
	<div class="container-header-site">
		<div class="header-site-logo">
			<a href="/"><img src="/common/img/img_header_logo.png" alt="Fringe81"></a>
		</div>

    	<a id="nav-site-btn">Menu</a>
		<nav id="nav-site" class="font-en" role="navigation">
			<ul class="nav-first-layer">
				<li>
					<a class="nav-item-first-layer" href="#">
						<span>BUISINESS</span>
						<span class="nav-icn-active"></span>
					</a>
					<ul class="nav-second-layer">
				      <li class="size-en"><a href="/sbt.html">SBT</a></li>
				      <li class="size-en"><a href="/vml.html">VML TOKYO</a> </li>
				      <li><a href="/attribution.html">アトリビューション分析</a></li>
				      <li><a href="/tagmanagement.html">タグマネジメント</a></li>
				      <li><a href="/3pas.html">第三者配信</a></li>
				      <li><a href="/tech.html">テクノロジー</a> </li>
				      <li><a href="/rssadvertising.html"><span class="size-en">RSS</span>広告</a></li>
				      <li><a href="http://www.fringe81.com/blog/">ブログ</a></li>
					</ul>
				</li>
				<li class="txt-slash">/</li>
				<li>
					<a class="nav-item-first-layer" href="#">
						<span>CULTURE</span>
						<span class="nav-icn-active"></span>
					</a>
					<ul class="nav-second-layer">
						<li class="size-en"><a href="/culture/">TOP</a></li>
				      <li class="size-en"><a href="/culture/about.html">FRINGE81=?</a></li>
				      <li class="size-en"><a href="/culture/message.html">MESSAGE</a></li>
				      <li class="size-en"><a href="/culture/member.html">MEMBER</a></li>
				      <li class="size-en"><a href="/culture/benefit.html">BENEFIT</a></li>
				      <li class="size-en"><a href="/culture/office.html">OFFICE</a></li>
				      <li class="size-en"><a href="/culture/mind.html">OUR MIND</a></li>
					</ul>
				</li>
				<li class="txt-slash">/</li>
				<li>
					<a class="nav-item-first-layer" href="#">
						<span>RECRUITE</span>
						<span class="nav-icn-active"></span>
					</a>
					<ul class="nav-second-layer">
				      <li class="size-en"><a href="#">FRINGENEER</a></li>
				      <li class="size-en"><a href="/recruit/career.html">MIDCAREER</a></li>
				      <li class="size-en"><a href="/recruit/newgrads.html">NEW GRADUATES</a></li>
					</ul>
				</li>
				<li class="txt-slash">/</li>
				<li>
					<a class="nav-item-first-layer" href="#">
						<span>NEWS</span>
						<span class="nav-icn-active"></span>
					</a>
					<ul class="nav-second-layer">
						<li><a href="/pressrelease/">プレスリリース</a></li>
					</ul>
				</li>
				<li class="txt-slash">/</li>
				<li>
					<a class="nav-item-first-layer" href="#">
						<span>COMPANY</span>
						<span class="nav-icn-active"></span>
					</a>
					<ul class="nav-second-layer">
				      <li><a href="/company/index.html">会社概要</a></li>
				      <li><a href="/company/officer.html">役員紹介</a></li>
				      <li><a href="/company/vision.html">ビジョン</a></li>
				      <li><a href="/company/office.html">働く環境</a></li>
					</ul>
				</li>
			</ul>
		</nav>
		<!-- </nav> -->
		<!-- /.nav site -->
	</div>
	<!-- /.header site in -->
</header>
