<div class="container-recruit-link">
	<nav class="link-recruit">
		<ul class="list-recruit-btn cf">
			<li class="btn-recruit">
				<a href="/recruit/career.html" target="_blank">
					<span class="font-en">Midcareer</span>中途採用<span class="arrow sp-view"></span>
				</a>
			</li>
			<li class="txt-slash font-en">/</li>
			<li class="btn-recruit">
				<a href="/recruit/newgrads.html" target="_blank">
					<span class="font-en">New <br class="sp-view">Graduate</span>新卒採用<span class="arrow sp-view"></span>
				</a>
			</li>
			<li class="txt-slash font-en">/</li>
			<li class="btn-recruit">
				<a href="/recruit/intern.html" target="_blank">
					<span class="font-en">Intern</span>インターン<span class="arrow sp-view"></span>
				</a>
			</li>
		</ul>
	</nav>
</div>