<div class="container-sns-btn-bottom cf">
	<div class="block-sns-btn-bottom">
		<ul class="sns-btn-bottom cf">
			<li>
				<!--facebook-->
				<div class="fblikebox">
					<div class="fb-like" data-href="http://www.fringe81.com/culture/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
				</div>
			</li>
			<li>
				<!--twitter-->
				<a href="https://twitter.com/share" class="twitter-share-button" data-lang="ja">ツイート</a>
				<script>
				!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
				</script>
			</li>
			<li>
				<!--hatena-->
				<a href="http://b.hatena.ne.jp/add?url=http://www.fringe81.com/" class="hatena-bookmark-button" data-hatena-bookmark-title="Fringe81" data-hatena-bookmark-layout="standard-balloon" data-hatena-bookmark-lang="ja" title="このエントリーをはてなブックマークに追加"><img src="https://b.st-hatena.com/images/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a>
				<script type="text/javascript" src="https://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
			</li>
			<li class="sp-view">
				<!--line-->
				<span>
				<script type="text/javascript" src="//media.line.me/js/line-button.js?v=20140411" ></script>
				<script type="text/javascript">
				new media_line_me.LineButton({"pc":true,"lang":"ja","type":"a"});
				</script>
				</span>
			</li>
		</ul>
	</div>
</div>