<section class="section-sns-site">
	<div class="container-btn-sns font-en">
		<div class="btn-sns btn-sns01">
			<a class="btn-hover01 btn-hexagon" href="#"></a>
			<a class="btn-hover01 btn-hexagon btn-hexagon-rotate01" href="#"></a>
			<a class="btn-hover01 btn-hexagon btn-hexagon-rotate02" href="#"></a>
			<a class="btn-hover01" href="#"><span class="icn-facebook">
				<img src="/common/img/icn_facebook.png" alt="facebook">
			</span></a>
		</div>
		<div class="btn-sns btn-sns02">
			<a class="btn-hover01 btn-hexagon" href="#"></a>
			<a class="btn-hover01 btn-hexagon btn-hexagon-rotate01" href="#"></a>
			<a class="btn-hover01 btn-hexagon btn-hexagon-rotate02" href="#"></a>
			<a class="btn-hover01" href="#"><span class="txt-facebook">Share</span></a>
			<span class="block-like-count"><span id="like-count"></span></span>
		</div>
		<div class="btn-sns btn-sns03">
			<a class="btn-hover02 btn-hexagon" href="#"></a>
			<a class="btn-hover02 btn-hexagon btn-hexagon-rotate01" href="#"></a>
			<a class="btn-hover02 btn-hexagon btn-hexagon-rotate02" href="#"></a>
			<a class="btn-hover02" href="#"><span class="icn-hatena">
				<img src="/common/img/icn_hatena.png" alt="hatena">
			</span></a>
		</div>
		<div class="btn-sns btn-sns04">
			<a class="btn-hover03 btn-hexagon" href="#"></a>
			<a class="btn-hover03 btn-hexagon btn-hexagon-rotate01" href="#"></a>
			<a class="btn-hover03 btn-hexagon btn-hexagon-rotate02" href="#"></a>
			<a class="btn-hover03" href="#"><span class="icn-twitter">
				<img src="/common/img/icn_twitter.png" alt="twitter">
			</span></a>
		</div>
	</div>
</section>