/* =======================================Common Css=======================================*/
/* =======================================Common Css=======================================*/
/*.mainwrapper ol, .mainwrapper ul, .mainwrapper dl, .mainwrapper div{
	zoom:1;
}*/




/* =======================================Contents Css=======================================*/


.maincontents_leftinner {
	margin-top: 22px;
	margin-left: 19px;
	margin-right: 19px;
	font-size: 13px;
	line-height: 145%;
	letter-spacing: 1px;
}
.leftinner_inner {
	margin-top: 20px;
	margin-left:20px
}
.maincontents_right {
	background-image: url(../images/common/right_top.jpg);
	background-repeat: no-repeat;
	background-position: top;
	float: left;
	width: 204px;
	text-align: center;
}
.side_normal {
	background-image: url(../images/common/normal_sidemenu.gif);
	background-repeat: no-repeat;
	font-size: 12px;
	margin-left: 14px;
	text-indent: 10px;
	text-align: left;
	padding-top: 15px;
	padding-bottom: 15px;
}
.side_normal#active {
	background-image: url(../images/common/active_sidemenu.gif);
	font-size: 12px;
	text-align: left;
	text-indent: 10px;
	margin-left: 14px;
	padding-top: 15px;
	padding-bottom: 15px;
}

/* =======================================EnglishContents Css=======================================*/

ul.listmark li { list-style: none; padding-left: 15px; line-height: 30px; background :url(../images/service/service_boxtriger.gif) left 9px no-repeat ;}
ul.listmark li a       { color: #006699; text-decoration: none; }
ul.listmark li a:hover { color: #006699; text-decoration: underline; }

/* =======================================RecruitContents Css=======================================*/

ul.listmark li.position { list-style: none; padding-left: 10px; margin-right: 20px; background :url(../images/service/service_boxtriger.gif) left 7px no-repeat ; display: block; float: left;}
ul.listmark li.position a       { color: #006699; text-decoration: none; } 
ul.listmark li.position a:hover { color: #006699; text-decoration: underline; }

.recruit_wrapper {
	background-color:#fff;
	clear: both;
	font-size: 12px;
	line-height: 1.4;
	height:100%;
	padding-bottom:20px;
	/* ▼CSS3 */
	border-bottom-left-radius:  10px;  /* 左下 */
    border-bottom-right-radius: 10px; /* 右下 */
    /* ▼Safari,Chrome */
    -webkit-border-bottom-left-radius:  10px;  /* 左下 */
    -webkit-border-bottom-right-radius: 10px; /* 右下 */
    /* ▼Firefox */
    -moz-border-radius-bottomleft:  10px;  /* 左下 */
    -moz-border-radius-bottomright: 10px; /* 右下 */
}


.recruit_wrapper h2 { margin: 0; padding: 0; }

.recruit_maincol    {
	padding: 0 15px 20px 20px;
	float: left;
	width: 733px;
}

.recruit_maincol p {
	margin:0 3px 20px 10px;
}
.recruit_singlecol  { margin: 20px;}

.recruit_col01      { padding:13px 0 37px 0;} 

div.recruit_col01 a:hover{
	filter: alpha(style=0 opacity=80);
-moz-opacity: 0.8;
opacity: 0.8;
}
.recruit_col02      {
	padding:13px 0 30px 0;
} 
.recruit_col03 {
	float:left;
	margin:auto;
	padding:10px 0px 20px 0px;
}

.recruit_col04 {
	padding:0;
	margin:10px 10px 30px 25px;
}

.recruit_col05 {
	padding:0 0 30px 0;
}



#interview	{
	padding:10px 0;
	margin:auto;
	text-align:center;
	float:left;
}

/*営業*/
#sales_bnr {
	background-image:url(../images/recruit/sales_bnr.gif);
	width:307px;
	height:65px;
	background-repeat:no-repeat;
	padding-top:46px;
	float:left;
}

#sales_bnr ul {
    font-size:12px;
    padding-left:0;
    margin-left:0;
}
div#sales_bnr ul li{
	list-style:none;
    padding:0px 10px;
    width:300px;
	text-align:left;
	color:#FFF;
}
div#sales_bnr a:link{
	text-decoration:none;
	color:#333;
}
div#sales_bnr a:visited{
	text-decoration:none;
	color:#333;
}
div#sales_bnr a:hover {
	text-decoration:none;
	color:#390;}

/*エンジニア*/
#engineer_bnr {
	background-image:url(../images/recruit/engineer_bnr.gif);
	width:305px;
	height:65px;
	background-repeat:no-repeat;
	padding-top:46px;
	float:left;
}

#engineer_bnr ul {
    font-size:12px;
    padding-left:0;
    margin-left:0;
}
#engineer_bnr ul li{
	list-style:none;
    padding:0px 10px;
    width:300px;
	text-align:left;
	color:#333;
}
#engineer_bnr a:link,a:visited{
	text-decoration:none;
	color:#333;
}
#engineer_bnr a:hover {
	text-decoration:none;
	color:#390;}

/*オペレーター*/
#ope_bnr {
	background-image:url(../images/recruit/ope_bnr.gif);
	width:307px;
	height:39px;
	background-repeat:no-repeat;
	padding-top:72px;
	float:left;
}

#ope_bnr ul {
    font-size:12px;
    padding-left:0;
    margin-left:0;
}
#ope_bnr ul li{
	list-style:none;
    padding:0px 10px;
    width:300px;
	text-align:left;
	color:#333;
}
#ope_bnr a:link,a:visited{
	text-decoration:none;
	color:#333;
}
#ope_bnr a:hover {
	text-decoration:none;
	color:#390;}

/*新人*/
#freshman_bnr {
	background-image:url(../images/recruit/freshman_bnr.gif);
	width:305px;
	height:61px;
	background-repeat:no-repeat;
	padding-top:50px;
	float:left;
}

#freshman_bnr ul {
    font-size:12px;
    padding-left:0;
    margin-left:0;
}
#freshman_bnr ul li{
	list-style:none;
    padding:0px 10px;
    width:300px;
	text-align:left;
	color:#333;
}
#freshman_bnr a:link,a:visited{
	text-decoration:none;
	color:#333;
}
#freshman_bnr a:hover {
	text-decoration:none;
	color:#390;}


#member_days	{
	margin:20px;
	padding:0px;
	height:130px;
	width:613px;
	background-image:url(../images/recruit/member_daysbg.gif);
}

div#member_days a:hover {
filter: alpha(style=0; opacity=70);
-moz-opacity: 0.7;
opacity: 0.7;
}

#member_days img {
	margin:45px 0 0 0;
	border:0px;
}

div#organization {margin-bottom:10px;}




.member_col01       { margin: 0; padding:8px 8px 0px 8px; } 

	
.recruit_grid       {
	margin: 25px 0 10px 0px;
	padding:0px;
	border: #bcbcbc 1px solid;
	background-image: url(../images/recruit/note_bg.png);
} 



.member_picright    {
	padding: 10px 0 0 0;
	text-align:right;
	float:right;
	
}

.member_btn		{
	padding: 10px 0 0 0;
	text-align:right;
	float:right;
	margin-right:5px;
	
}

div.member_btn a:hover {
filter: alpha(style=0 opacity=80);
-moz-opacity: 0.8;
opacity: 0.8;
}

.manager_btn    {
	padding:30px 28px 0 0;
	text-align:right;
	float:right;
}

div.manager_btn a:hover {
filter: alpha(style=0 opacity=80);
-moz-opacity: 0.8;
opacity: 0.8;
}

.member_top_btn    {
	margin: 0 30px;
}

.member_picbottom    { margin: 0; vertical-align:bottom; text-align:right}

.recruit_comment    { line-height: 1.8; padding:0 3px 0 10px;
letter-spacing:1px;     }
.recruit_comment_2  {float:left; line-height: 1.8; padding:0 3px 0 10px; width:400px;letter-spacing:1px; }
.recruit_comment_2 img {margin:0px; float:left;}

.recruit_comment_3 {
	float:left;
	margin:auto;
	padding:15px 10px 0px 10px;
	letter-spacing:1px;
}

.recruit_comment_4  {float:left; line-height: 1.8; padding:0 3px 0 10px; width:420px; }

#PAGETOP {text-align:right;}
div#PAGETOP a:hover {
filter: alpha(style=0 opacity=80);
-moz-opacity: 0.8;
opacity: 0.8;
}

/*ナビゲーション*/
#manager_link         { height: 65px; margin-top:15px;  border-bottom:#B3B3B3; border-bottom-style:solid; border-bottom-width:thin;}
#manager_link ul      {
	list-style: none;
	margin: 0px;
	padding: 0 15px 0 0;
}
#manager_link ul li,
#manager_link ul li a { margin: 0 0 3px 0; padding:0; float: left; }

#member_link         { height: 27px; margin-top:15px; border-bottom:#999; border-bottom-style:solid; border-bottom-width:thin;}
#member_link ul      {	list-style: none;	margin: 0px;	padding: 0;}
#member_link ul li,
#member_link ul li a { margin: 0px; padding:0 10px 0 0; float: left; }

#member_link02         { height: 50px; width:100%; margin-top:10px; text-align:center;}
#member_link02 ul      {
	list-style: none;
	margin: 0px;
	padding: 0;
}
#member_link02 ul li,
#member_link02 ul li a { margin: 0px; padding:0 1px 1px 0; float: left; }

#member_link03         { height: 27px; margin-top:15px; border-bottom:#999; border-bottom-style:solid; border-bottom-width:thin;}
#member_link03 ul      {	list-style: none;	margin: 0px;	padding: 0;}
#member_link03 ul li,
#member_link03 ul li a { margin: 0px; padding:0 5px 0 0; float: left; }


div#member_link02 a:hover {
filter: alpha(style=0 opacity=80);
-moz-opacity: 0.8;
opacity: 0.8;
}


#days_link         { height: 27px; margin-top:15px; padding-left:225px;}
#days_link ul      { list-style: none; margin: 0px; padding: 0px; }
#days_link ul li,
#days_link ul li a { margin: 0px; padding: 0px; float: left; }

#recruitNavi         { width:647px; margin-top:2px}
#recruitNavi ul      { list-style: none; margin: 0px; padding: 0px;
display:inline-block}
#recruitNavi ul li,
#recruitNavi ul li a { margin: 0px; padding: 0px; float: left; }


#recruitNavi ul li a#01_sales:hover { background-position: 0 -58px; text-indent:-9999px; }

/*右カラム*/
.recruit_rightcol {
	float: left;
	width:148px;
}

.recruit_rightcol img {
	margin-bottom: 4px;
}

/* =======================================Footer Css=======================================*/
.footerwrapper {
	background-image: url(../images/common/footer_line.gif);
	background-repeat: repeat-x;
	width: 850px;
	margin-top: 25px;
	padding-top: 10px;
	margin:20px auto 0;
}
.footerwrapper,
.footerwrapper a:link { color: #333; list-style: none; }
.footerwrapper a:visited { color: #333; list-style: none; }

.footer_left {
	margin:auto;
	float: left;
	padding-left: 12px;
	color: #333333;
	font-size: 12px;
	line-height: 180%;
}
.footer_links {
	font-size: 10px;
	letter-spacing: 1px;
}

	
.footer_right {
	float: right;
	padding-right: 10px;
}




/* =======================================Index Footer Css=======================================*/
.footerwrapper2 {
	background-image: url(../images/common/footer_line.gif);
	background-repeat: repeat-x;
	/*width: 830px;*/
	margin:30px 0 10px;
	padding-top: 10px;
	text-align:center;
}
.footer2_left {
	margin:auto;
	color: #333333;
	font-size: 11px;
	line-height: 180%;
	text-align:center;
}
.footer2_links {
	font-size: 11px;
	letter-spacing: 1px;
	text-decoration:underline;
}

.footer2_right {
	float: right;
	padding-right: 10px;
}


.footerwrapper2 a {
	color: #333333;
}
.footerwrapper2 a:hover {
	text-decoration:underline;
	color: #333333;
}



/* =======================================ONLY Indexpage Css=======================================*/
.index_gnaviarea {
	font-size: 10px;
	color: #669900;
	/*padding-top: 205px;*/
	width:700px;
	margin:auto;
}
.index_g_navi {
	float: left;
	padding-right: 13px;
	background-image: url(../images/index/index_gnaviicon_alpha.gif);
	background-repeat: no-repeat;
	text-indent: 8px;
	margin-left: 10px;
}
.index_g_navi#ign02 {
	background-image: url(../images/index/index_gnaviicon2.gif);

}
.index_g_navi#ign03 {
	background-image: url(../images/index/index_gnaviicon3.gif);

}
.index_g_navi#ign04 {
	/*background-image: url(../images/index/index_gnaviicon4.gif);*/
	margin-left: 25px;
}
.index_contentsarea {
	display:block;
	clear:both;
/*
	background-image: url(../images/index/index_bottom.jpg);
	background-repeat: no-repeat;
*/
	width: 850px;
	margin-right: auto;
	margin-left: auto;
	background-position: top;
	padding-top: 14px;
}
.feedorangeicon {
	float: left;
	padding-left: 11px;
}
.feedtext {
	font-size: 14px;
	float: left;
	margin-top: 20px;
}
.index_orangebold {
	font-weight: bold;
	color: #FF5B00;
	font-size: 16px;
	letter-spacing: 1px;
}
.index_servicetext {
	font-size: 10px;
	line-height: 140%;
	letter-spacing: 1px;
	padding-left: 47px;
	padding-bottom: 14px;
	margin-top: 5px;
}
.index_btx2 {
	padding:10px 10px;
	margin:0px;
	text-align:left;
	background-color:#fff;
}

.index_btx2 li{
	float:left;
	margin:0px 0px 10px 10px;
	padding:0px;
	list-style:none;

}

.index_btx2 li.new{
/*
	float:left;
	margin-left: 5px;
	position:relative;
	top:-13px;
*/
}

.index_btx2 li.left{
	margin:0px;
}
/*
.index_btx2 li.feemo{
	padding-top:11px;
}
*/
.index_btx2 li .link{
	text-align:right;
	font-size:12px;
	padding:0px 10px 0px 0px;
	margin:0px;
}

.index_btx2 li .link a {
	color:#006699;
}

.index_newsarea824 {
	background-color: #F7F4F1;
	width: 824px;
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;
	font-size: 10px;
	line-height: 140%;
	letter-spacing: 1px;
}

.index_newsleft {
	height:70px;
	width:568px !important;
	background-color:#fdfdfd;
	font-size:12px;
	letter-spacing:1px;
	margin:auto;
	text-align:left;
	}
	
.index_newsleft2 {
	height:70px;
	width:575px !important;
	background-color:#fdfdfd;
	font-size:12px;
	letter-spacing:1px;
	margin:auto;
	text-align:left;
	padding:0 0 10px 5px;
	}
	
.news_date {
	float: left;
	padding-top: 2px;
	padding-bottom: 2px;
	width: 85px;
	letter-spacing: 0px;
}

.news {
	float: left;
	padding-left: 5px;
	width: 530px;
	padding-top: 2px;
	padding-bottom: 5px;
}




/* =======================================ONLY Companypage Css=======================================*/
.cautionred10px {
	font-size:10px;
	color:#F00;
	line-height:1.4;

}

.company_table {
	width: 713px;
	font-size: 13px;
	background: url(../images/company/bar03.png) no-repeat top;
	background-repeat: no-repeat;
	font-size:13px;
	color:#444
}
.company_formleft {
	float: left;
	width: 100px;
	letter-spacing: 0px;
	padding-top: 24px;
	padding-bottom:20px;
}
.company_formright {
	float: left;
	padding: 24px 0 20px 0;
	letter-spacing: 0px;
	width: 600px;
	line-height:1.6;

}
#companybottom {
	height:20px;
	background: url(../images/company/bar03.png) no-repeat;
}
.vision_wrapper {
	margin-left: 20px;
}
.ytbox {
	margin-top: 12px;
	margin-bottom: 25px;
}


/* =======================================ONLY Contactpage Css=======================================*/
.contact_btarea {
	width: 485px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 100px;
	margin-bottom: 30px;
}
.contact_atent {
	border: 1px solid #CCCCCC;
	margin-top: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 28px;
	margin-bottom: 18px;
}
.contact_form {
	width: 480px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CCCCCC;
	margin-left: 40px;
	font-size: 11px;
	background-image: url(../images/contact/contactform_bg.gif);
	background-repeat: repeat-y;
}
.contact_form#top {
	margin-top: 20px;	
}
.contact_formleft {
	float: left;
	width: 95px;
	letter-spacing: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 5px;
}
.contact_formright {
	float: left;
	padding: 10px;
	letter-spacing: 0px;
}
.contact_formbottom {
	border: 1px solid #CCCCCC;
	width: 478px;
	margin-left: 40px;
	text-align: center;
	padding-top: 7px;
	padding-bottom: 7px;
}




/* =======================================ONLY pressrelease Css=======================================*/
.yearbox580 {
	width: 580px;
	margin-left: 3px;
	background-image: url(../images/pressrelease/yearbg.gif);
	background-repeat: repeat-y;
}
.pressreleaseright {
	float: left;
	width: 490px;
	margin-left: 15px;
}
.pressreleasedate {
	float: left;
	margin-right: 20px;
	padding-top: 15px;
	width: 70px;
}
.pressreleaselinks {
	float: left;
	width: 400px;
	padding-top: 15px;
}
.yearboxbottom {
	padding-top: 20px;
}














/* =======================================ONLY Privacy Css=======================================*/
.pp_wrapper {
	margin-left: 25px;
}.ppol {
	padding-top: 10px;
	padding-right: 20px;
	padding-bottom: 10px;
}
.ppli {
	padding-bottom: 8px;
}
.ppliinner {
	margin-top: 10px;
	margin-left: 30px;
	margin-bottom: 4px;
}
.right_text {
	text-align: right;
	margin-right: 30px;
}






/* =======================================Sitemap Css=======================================*/
.sitemap01 {
	background-image: url(../images/sitemap/sitemap_triger.gif);
	background-repeat: no-repeat;
	text-indent: 10px;
	margin-left: 25px;
	margin-bottom: 10px;
}
.sitemap_inner01 {
	float: left;
	padding-left: 150px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.sitemap_inner02 {
	margin-top: 10px;
	margin-bottom: 10px;
	float: left;
}
.sitemap02 {
	background-image: url(../images/sitemap/sitemap_triger.gif);
	background-repeat: no-repeat;
	text-indent: 10px;
	width: 185px;
	padding-bottom: 10px;
}
.sitemap03 {
	background-image: url(../images/sitemap/sitemap_triger03.gif);
	background-repeat: no-repeat;
	text-indent: 10px;
	width: 185px;
	padding-bottom: 10px;
}.a_sitemap {
	color: #999999;
	text-decoration: underline;
}

















/* =======================================ONLY Recruit Css=======================================*/
.recruit_table {
	border-top: #ccc 1px solid;
	border-right: #ccc 1px solid;
	border-left: #ccc 1px solid;
	font-size: 12px;
	background: url(../images/recruit/recruit_bg.png) 0 0 repeat-y;
	background-color:#fff;
}
.recruit_formleft {
	float: left;
	width: 150px;
	letter-spacing: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-indent: 5px;
}
.recruit_formright {
	float: left;
	letter-spacing: 0px;
	padding: 10px ;
	width: 460px;
}
.recruit_formright_p {
	margin-bottom: 10px;
	letter-spacing: 1px;
}
.recruit_formright_p2 {
	letter-spacing: 0px;
}
.recruit_table#recruitbottom {
	border-top-width: 1px;
	border-top-style: solid;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-top-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
}


.recruit_strongtitle {
	padding-top: 5px;
}


/*========================*/

.greeting p.logo {
	text-align:center;
	margin:40px 0px 20px 0px;
	_margin:24px 0px 20px 0px;
}
.greeting p.how_img {
	padding:0px;
	margin:0px;
}
.greeting {
	font-size:12px;
	width:700px;
	margin:0px auto;
	line-height:1.6;
}

.greeting .message_change {
	background-color:#666;
	color:#fff;
	text-align:center;
	margin:10px 0px;
	padding:3px;
}

.greeting .message_change img {
	vertical-align:middle;
	padding:0px 3px;
}
.greeting .message_change span {
	font-weight:bold;
	padding:0px 3px;
}
.greeting .how_fringe81 {
	margin:30px 0px;
	font-size:10px;
	letter-spacing:2px;
	background-image:url(../images/index/how_fringe81_Bg.gif);
	padding:10px;
}
.greeting .how_fringe81 div {
	padding:10px;
	background-color:#fff;
}

.greeting .text {
	padding:0px 10px;
}

.greeting2 {
	font-size:12px;
	width:900px;
	height:272px;
    margin:0;
	padding:0;
	
}

.greeting2 .p {
	text-align:center;
}
.greeting2 .logo {
	text-align:center;
	margin:40px 0px 10px 0px;
	_margin:24px 0px 20px 0px;
}

/*採用ページ追加用*/
.interview_box{height:91px; padding-bottom:50px;float:left;}

.business_box{width:215px; background:url(../images/recruit/Business_btn.jpg) no-repeat top;}

.enginier_box{width:217px; background:url(../images/recruit/Engineer_btn.jpg) no-repeat top;}

.designer_box{width:215px; background:url(../images/recruit/designer_btn.jpg) no-repeat top; }

.interview_box img{
padding:65px 0 0 95px;}

.sidemenu_wrapper{
	padding:0 5px;}

.fieldWithErrors {
padding: 1px;
}
.fieldWithErrors input, .fieldWithErrors select, .fieldWithErrors textarea{
border: 2px solid red;
}

.formError {
color: #ff0000;
}

.center_object {
	text-align:center;
	margin: 20px 0 0;
}
/*ここから*/
#submit2 {
	display:block;
	width: 212px;
	height: 36px;
	padding:0;
	border:0;
	background: url(../images/common/btn_optout.png) 0 0 no-repeat ;
	text-indent:-9898px;
	font-size: 0px;
	line-height: 0px;
	cursor:pointer;
}
#submit2:hover,
#submit2:focus {
	background: url(../images/common/btn_optout.png) 0 -36px no-repeat ;
}
/*ここまで*/

/*PrivacyPolicy*/

.pp_wrapper div h2{font-size:18px;
padding:0px;
border-bottom: 3px #dfdfdf solid;
padding: 3px;
}

a a:link{
	padding:0px;
	color:#ccc;
}
