<!DOCTYPE html>
<html lang="jp">
<head>
	<meta charset="UTF-8">
	<title>Member 仲間たち | Fringe81株式会社</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="robots" content="all">
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<meta name="google-site-verification" content="n0ep9zeyioGG0rxVVAVXVcUN2x6rH6LiDvITFUzl9-E" />
	<meta name="keywords" content="第三者配信,タグマネジメント,アトリビューション,DSP運用,RSS広告,フィード広告,SBT,スマートバイイング,広告運用" />
	<meta name="description" content="『新しい発見をもとに、地球の未来を創る集団。』Fringe81株式会社が追求している文化や価値観のユニークネスを発信するサイトです。" />
	<meta property="og:title" content="Member 仲間たち | Fringe81株式会社" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="http://www.fringe81.com/culture/" />
	<meta property="og:image" content="http://www.fringe81.com/culture/img/ogp_culture.png" />
	<meta property="og:site_name" content="Fringe81" />
	<meta property="og:description" content="『新しい発見をもとに、地球の未来を創る集団。』Fringe81株式会社が追求している文化や価値観のユニークネスを発信するサイトです。" />
	<link rel="canonical" href="">
	<link rel="icon" href="/favicon.ico" />
	<script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:400,100,300" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="/common/css/common.min.css">
	<link rel="stylesheet" href="/culture/css/culture.min.css">
</head>
<body id="member-detail">
<div class="wrapper bg-gray01">

	<!-- .header nav -->
	<% include ../../common/inc/_header_nav %>
	<!-- /.header nav -->

	<section class="main-visual">
		<img class="bg-main-visual" src="/culture/img/member/hiroki/main_visual.jpg" alt="">
		<div class="container-main-visual">
			<p class="question-main-visual">あなたの"Fringe"なところは？</p>
			<p class="answer-main-visual">誰よりもイケてるエンジニアを目指す</p>
			<h1 class="head-main-visual font-en">HIROKI</h1>
			<h2 class="sub-head-main-visual">こむ</h2>
		</div>
	</section>

	<!-- .breadcrumb top -->
	<nav class="nav-breadcrumb breadcrumb-top" role="navigation">
		<div class="container-nav-breadcrum font-en">
		    <ul class="breadcrumb cf">
		      <li class="breadcrumb-active"><a href="/culture/index.html">TOP</a></li>
		      <li>></li>
		      <li class="breadcrumb-active"><a href="/culture/member.html">MEMBER</a></li>
		      <li>></li>
		      <li class="breadcrumb-active">HIROKI</li>
		    </ul>
		</div>
	</nav>
	<!-- /.breadcrumb top -->

	<!-- .article main -->
	<article class="article-main" role="main">
		<div class="container-content">
			<section class="container-2-column cf">
				<div class="block-photo block-photo-left">
					<img src="/culture/img/member/hiroki/img_content01.jpg" alt="">
				</div>
				<div class="block-txt block-txt-right">
					<h1 class="block-title">
						<span class="color">プロフィール</span>
					</h1>
					<p class="box-text">
						京都大学 大学院 情報学研究科を卒業後、2015年度新卒としてFringe81にJoin。<br class="pc-view">
						入社の決め手は「ぶっとんだ社長」と「おっさん（ベテラン）エンジニア」と、Fringe81の先発二枚看板の影響を大きく受けたと後に語る。<br class="pc-view">
						入社と同時にAndroid上でのプロダクト開発のリードプログラマに抜擢され従事する傍ら、id:<a href="//qiita.com/petitviolet" target="_blank">petitviolet</a>として、勉強会等への登壇およびQiitaへの投稿活動も積極的に展開中。
					</p>
				</div>
			</section>
			<section class="container-2-column cf">
				<div class="block-photo block-photo-right">
					<img src="/culture/img/member/hiroki/img_content02.jpg" alt="">
				</div>
				<div class="block-txt block-txt-left">
					<h1 class="block-title">
						<span class="color">会社全体の技術力アップ、業界内のプレゼンスアップに貢献</span>
					</h1>
					<p class="box-text">
						入社を決めた理由は、とにかくぶっ飛んだ社長とイカしたおっさん達に惹かれてでした(笑)本当に、かっこよく感じましたし、今でも新しい事業の話や会社の未来の話を聞くとワクワクしますね。
						仕事をしていて嬉しいのは、やっぱり価値がある何かを自分の手で作りあげられた時です。そうして成果を出していると、きちんと賞賛される「賞賛文化」が社内には浸透していて、一人ひとりにスポットライトが当たるところがとても好きで、居心地がいいと感じています。<br class="pc-view">
						これからは、自分だけでなく会社全体での技術力向上に貢献していきたいですし、そうして業界内のプレゼンスを上げるべく、新技術のキャッチアップとコア技術の勉強を欠かさないことを心がけていきたいです。
					</p>
				</div>
			</section>
		</div>
	</article>
	<!-- /.article main -->

	<nav class="nav-member-list">
		<ul class="member-list font-en cf">
			<li>
				<a class="img-kae img-nav" href="/culture/member/kae.html"></a>
				<a href="/culture/member/kae.html"><p class="member-name">Kae</p></a>
			</li>
			<li>
				<a class="img-akira img-nav" href="/culture/member/akira.html"></a>
				<a href="/culture/member/akira.html"><p class="member-name">Akira</p></a>
			</li>
			<li>
				<a class="img-jun img-nav" href="/culture/member/jun.html"></a>
				<a href="/culture/member/jun.html"><p class="member-name">Jun</p></a>
			</li>
			<li>
				<a class="img-masaki img-nav" href="/culture/member/masaki.html"></a>
				<a href="/culture/member/masaki.html"><p class="member-name">Masaki</p></a>
			</li>
			<li>
				<a class="img-takahiro img-nav" href="/culture/member/takahiro.html"></a>
				<a href="/culture/member/takahiro.html"><p class="member-name long-letters">Takahiro</p></a>
			</li>
			<li>
				<a class="img-masatoshi img-nav" href="/culture/member/masatoshi.html"></a>
				<a href="/culture/member/masatoshi.html"><p class="member-name long-letters">Masatoshi</p></a>
			</li>
			<li>
				<a class="img-yosuke img-nav" href="/culture/member/yosuke.html"></a>
				<a href="/culture/member/yosuke.html"><p class="member-name">Yosuke</p></a>
			</li>
			<li>
				<a class="img-sae img-nav" href="/culture/member/sae.html"></a>
				<a href="/culture/member/sae.html"><p class="member-name">Sae</p></a>
			</li>
			<li>
				<a class="img-hideyuki img-nav" href="/culture/member/hideyuki.html"></a>
				<a href="/culture/member/hideyuki.html"><p class="member-name long-letters">Hideyuki</p></a>
			</li>
		</ul>
	</nav>

	<!-- sns -->
	<% include ../../common/inc/_sns %>
	<% include ../../common/inc/_link_recruit %>
	<% include ../../common/inc/_sns_bottom %>
	<!-- sns -->

	<!-- .breadcrumb bottom -->
	<nav class="nav-breadcrumb breadcrumb-btm" role="navigation">
		<div class="container-nav-breadcrum font-en">
		    <ul class="breadcrumb cf">
		      <li class="breadcrumb-active"><a href="/culture/index.html">TOP</a></li>
		      <li>></li>
		      <li class="breadcrumb-active"><a href="/culture/member.html">MEMBER</a></li>
		      <li>></li>
		      <li class="breadcrumb-active">HIROKI</li>
		    </ul>
		</div>
	</nav>
	<!-- /.breadcrumb bottom -->

	<!-- /.footer -->
	<% include ../../common/inc/_footer %>
	<!-- /.footer -->

</div>
<!-- /.wrapper -->

<!--[if lt IE 9]>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../common/js/jquery-1.11.3.min.js"><\/script>')</script>
<![endif]-->
<!--[if gte IE 9]><!-->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/common/js/vendor/jquery-2.1.4.min.js"><\/script>')</script>
<!--<![endif]-->
<script src="/common/js/common.min.js"></script>
<script src="/culture/js/culture.min.js"></script>
<!-- sns script -->
<% include ../../common/inc/_sns_script %>
<!-- sns script -->
<!-- Tag Night -->
<% include ../../common/inc/_tagknight %>
<!-- / Tag Night -->
</body>
</html>