<!DOCTYPE html>
<html lang="jp">
<head>
	<meta charset="UTF-8">
	<title>Member 仲間たち | Fringe81株式会社</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="robots" content="all">
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<meta name="google-site-verification" content="n0ep9zeyioGG0rxVVAVXVcUN2x6rH6LiDvITFUzl9-E" />
	<meta name="keywords" content="第三者配信,タグマネジメント,アトリビューション,DSP運用,RSS広告,フィード広告,SBT,スマートバイイング,広告運用" />
	<meta name="description" content="『新しい発見をもとに、地球の未来を創る集団。』Fringe81株式会社が追求している文化や価値観のユニークネスを発信するサイトです。" />
	<meta property="og:title" content="Member 仲間たち | Fringe81株式会社" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="http://www.fringe81.com/culture/" />
	<meta property="og:image" content="http://www.fringe81.com/culture/img/ogp_culture.png" />
	<meta property="og:site_name" content="Fringe81" />
	<meta property="og:description" content="『新しい発見をもとに、地球の未来を創る集団。』Fringe81株式会社が追求している文化や価値観のユニークネスを発信するサイトです。" />
	<link rel="canonical" href="">
	<link rel="icon" href="/favicon.ico" />
	<script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:400,100,300" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="/common/css/common.min.css">
	<link rel="stylesheet" href="/culture/css/culture.min.css">
</head>
<body id="member-detail">
<div class="wrapper bg-gray01">

	<!-- .header nav -->
	<% include ../../common/inc/_header_nav %>
	<!-- /.header nav -->

	<section class="main-visual">
		<img class="bg-main-visual" src="/culture/img/member/masaki/main_visual.jpg" alt="">
		<div class="container-main-visual">
			<p class="question-main-visual">あなたの"Fringe"なところは？</p>
			<p class="answer-main-visual">色んな事のルーツを探って<br>&emsp;深く理解したくなるところ</p>
			<h1 class="head-main-visual font-en">MASAKI</h1>
			<h2 class="sub-head-main-visual">トーマス</h2>
		</div>
	</section>

	<!-- .breadcrumb top -->
	<nav class="nav-breadcrumb breadcrumb-top" role="navigation">
		<div class="container-nav-breadcrum font-en">
		    <ul class="breadcrumb cf">
		      <li class="breadcrumb-active"><a href="/culture/index.html">TOP</a></li>
		      <li>></li>
		      <li class="breadcrumb-active"><a href="/culture/member.html">MEMBER</a></li>
		      <li>></li>
		      <li class="breadcrumb-active">MASAKI</li>
		    </ul>
		</div>
	</nav>
	<!-- /.breadcrumb top -->

	<!-- .article main -->
	<article class="article-main" role="main">
		<div class="container-content">
			<section class="container-2-column cf">
				<div class="block-photo block-photo-left">
					<img src="/culture/img/member/masaki/img_content01.jpg" alt="">
				</div>
				<div class="block-txt block-txt-right">
					<h1 class="block-title">
						<span class="color">プロフィール</span>
					</h1>
					<p class="box-text">
						パッケージソフトウェア開発、アドシステム開発（DSP）を経て、「スペシャリストとしてのキャリアパス」を求めて2012年Fringe81に中途入社。<br class="pc-view">
						以降、アドテクノロジー領域を中心に開発チームのスペシャリストとして、設計/コードレビュアーとして活動を行いつつ、常に最先端の技術に触れ、プロジェクトへの導入を推進する役目を担うなど、中心メンバーとして活躍中。
					</p>
				</div>
			</section>
			<section class="container-2-column cf">
				<div class="block-photo block-photo-right">
					<img src="/culture/img/member/masaki/img_content02.jpg" alt="">
				</div>
				<div class="block-txt block-txt-left">
					<h1 class="block-title">
						<span class="color">改善文化、学びの文化がある</span>
					</h1>
					<p class="box-text">
						Fringe81に入社を決めた理由で大きかったのは、スペシャリストとしてのキャリアパスがあることでした。自分としては人の管理を行うよりも、とにかく技術を磨き続けたいという思いが強く、それが許されて、かつ成長フェーズであったFringe81にHPから直接応募をしました(笑)<br class="pc-view">
						また、Fringe81の文化の中でも、特に改善をし続け、学び続ける文化が強くあるのがとても好きで、それは自分の技術に対しての取り組み方にも通じる部分があり、日々新しい学びを得ながら仕事ができている実感があります。<br class="pc-view">
						個人的には、これまではサーバーサイド開発中心だったので、これからはビッグデータ処理方面にもぜひチャレンジしていきたいと思っています。
					</p>
				</div>
			</section>
		</div>
	</article>
	<!-- /.article main -->

	<nav class="nav-member-list">
		<ul class="member-list font-en cf">
			<li>
				<a class="img-kae img-nav" href="/culture/member/kae.html"></a>
				<a href="/culture/member/kae.html"><p class="member-name">Kae</p></a>
			</li>
			<li>
				<a class="img-akira img-nav" href="/culture/member/akira.html"></a>
				<a href="/culture/member/akira.html"><p class="member-name">Akira</p></a>
			</li>
			<li>
				<a class="img-jun img-nav" href="/culture/member/jun.html"></a>
				<a href="/culture/member/jun.html"><p class="member-name">Jun</p></a>
			</li>
			<li>
				<a class="img-takahiro img-nav" href="/culture/member/takahiro.html"></a>
				<a href="/culture/member/takahiro.html"><p class="member-name long-letters">Takahiro</p></a>
			</li>
			<li>
				<a class="img-hiroki img-nav" href="/culture/member/hiroki.html"></a>
				<a href="/culture/member/hiroki.html"><p class="member-name">Hiroki</p></a>
			</li>
			<li>
				<a class="img-masatoshi img-nav" href="/culture/member/masatoshi.html"></a>
				<a href="/culture/member/masatoshi.html"><p class="member-name long-letters">Masatoshi</p></a>
			</li>
			<li>
				<a class="img-yosuke img-nav" href="/culture/member/yosuke.html"></a>
				<a href="/culture/member/yosuke.html"><p class="member-name">Yosuke</p></a>
			</li>
			<li>
				<a class="img-sae img-nav" href="/culture/member/sae.html"></a>
				<a href="/culture/member/sae.html"><p class="member-name">Sae</p></a>
			</li>
			<li>
				<a class="img-hideyuki img-nav" href="/culture/member/hideyuki.html"></a>
				<a href="/culture/member/hideyuki.html"><p class="member-name long-letters">Hideyuki</p></a>
			</li>
		</ul>
	</nav>

	<!-- sns -->
	<% include ../../common/inc/_sns %>
	<% include ../../common/inc/_link_recruit %>
	<% include ../../common/inc/_sns_bottom %>
	<!-- sns -->

	<!-- .breadcrumb bottom -->
	<nav class="nav-breadcrumb breadcrumb-btm" role="navigation">
		<div class="container-nav-breadcrum font-en">
		    <ul class="breadcrumb cf">
		      <li class="breadcrumb-active"><a href="/culture/index.html">TOP</a></li>
		      <li>></li>
		      <li class="breadcrumb-active"><a href="/culture/member.html">MEMBER</a></li>
		      <li>></li>
		      <li class="breadcrumb-active">MASAKI</li>
		    </ul>
		</div>
	</nav>
	<!-- /.breadcrumb bottom -->

	<!-- /.footer -->
	<% include ../../common/inc/_footer %>
	<!-- /.footer -->

</div>
<!-- /.wrapper -->

<!--[if lt IE 9]>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../common/js/jquery-1.11.3.min.js"><\/script>')</script>
<![endif]-->
<!--[if gte IE 9]><!-->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/common/js/vendor/jquery-2.1.4.min.js"><\/script>')</script>
<!--<![endif]-->
<script src="/common/js/common.min.js"></script>
<script src="/culture/js/culture.min.js"></script>
<!-- sns script -->
<% include ../../common/inc/_sns_script %>
<!-- sns script -->
<!-- Tag Night -->
<% include ../../common/inc/_tagknight %>
<!-- / Tag Night -->
</body>
</html>